extends layout
block content

    div(class="row")
        div(class="col-md-6")

            div(class="box box-danger")
                div(class="box-header with-border")
                    h4 تغییر رمز عبور

                form(role="form")

                div(class='box-body')

                    div(class='form-container form-inline')

                        form(action="/panel/changepassword/", method="post", enctype="multipart/form-data")

                            input(
                            class="form-control right-margin"
                            name="password"
                            required='required'
                            placeholder='رمز عبور جدید'
                            )
                            br
                            br
                            input(
                            class="form-control right-margin"
                            name="password_retype"
                            required='required'
                            placeholder='تکرار رمز عبور جدید'
                            )
                            br
                            br
                            input(
                            class='btn btn-success right-margin'
                            type='submit'
                            value='تغییر رمز عبور'
                            )
