extends layout
block content

    - if(is_add)
        div(class='row')
            div(class="form-inline")
                form(action="/panel/comment/add/", method="post")
                    h5 اضافه کردن کامنت
                    input(
                    class='form-control input_inline'
                    type='text'
                    required='required'
                    placeholder="متن نظر"
                    name='text'
                    id='text'
                    )
                    select(class="form-control right-margin", name="star", id="star")
                        option(value="none" selected="selected") ستاره؟
                        option(value=1) یک ستاره
                        option(value=2) دو ستاره
                        option(value=3) سه ستاره
                        option(value=4) چهار ستاره
                        option(value=5) پنج ستاره
                    input(
                    id='place_delete'
                    class='btn btn-success btn-sm right-margin'
                    type='submit'
                    value='ثبت کامنت'
                    )

    div(class='row')
        div(class='form-container')
            table(class='table table-table-responsive content_table highlight')
                tr
                    th متن نظر
                    th ستاره
                    th تاریخ
                    th زمان
                    th حذف
                each comment in comments
                    tr
                        td #{comment.text}
                        td #{comment.star}
                        td #{comment.date}
                        td #{comment.time}
                        td
                            a(href="/panel/comment/remove/#{comment._id}/")
                                img(src="/public/icons/minus.png", class="list_icon")

