extends layout
block content
    div(class="row")

        div(class="col-md-6")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 جستجو
                    p دقت شود که شماره تلفن | نام یا نام خانوادگی | آدرس و ... به صورت کامل نوشته شود

                form(role="form")

                div(class='box-body')
                    div(class='form-container form-inline')

                        form(action="/panel/customer/search/", method="post", class="form-inline")
                            input(class='form-control search-input' name='search_query' placeholder='چیزی برای سرچ وارد کن')
                            input(type='submit' class='btn btn-primary search-btn' value='جستجو')

        div(class="col-md-6")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 جستجو
                    p جستجو شماره تلفن (بخشی از شماره تلفن)

                form(role="form")

                div(class='box-body')
                    div(class='form-container form-inline')

                        form(action="/panel/customer/phone/search/", method="post", class="form-inline")
                            input(class='form-control search-input' name='search_query' placeholder='قسمتی از شماره تلفن')
                            input(type='submit' class='btn btn-primary search-btn' value='جستجو')


    div(class="row")
        div(class="col-md-12")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 لیست کاربران

                form(role="form")

                div(class='box-body')
                    div(class='form-container')
                        table(class='table table-table-responsive content_table highlight')
                            tr
                                th نام
                                th شماره تلفن
                                th تراکنش‌ها
                                th بلاک کردن
                                th بیشتر
                            each customer in customers
                                tr

                                    td #{customer.name}
                                    td #{customer.phone_number}

                                    td
                                        a(href='/panel/customer/transaction/#{customer._id}/1/10/')
                                            img(src="/public/icons/setting.png", class="list_icon")
                                    td
                                        - if(customer.is_block)
                                            a(href='/panel/customer/unblock/#{customer._id}/')
                                                img(src="/public/icons/free.png", class="list_icon")
                                        - else
                                            a(href='/panel/customer/block/#{customer._id}/')
                                                img(src="/public/icons/block.png", class="list_icon")
                                    td
                                        a(href='/panel/customer/info/#{customer._id}/1/10/')
                                            img(src="/public/icons/setting.png", class="list_icon")

                    div(class='row pagination_part')
                        ul(class="pagination")
                            - if(customers.length >= 10)

                                - if(prev_page > 0)
                                    li
                                        a(href="/panel/customer/list/#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;
                                - else
                                    li(class="disabled")
                                        a(href="#")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li
                                    a(href="/panel/customer/list/#{next_page}/10/" aria-label="Previous")
                                        span(aria-hidden="true") &raquo;


                            - else

                                - if(prev_page > 0)
                                    li
                                        a(href="/panel/customer/list/#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;
                                - else
                                    li(class="disabled")
                                        a(href="#")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li(class="disabled")
                                    a(href="#")
                                        span(aria-hidden="true") &raquo;

                    //div(class='row pagination_part')
                    //    div(class='col s7')
                    //        - if(customers.length >= 10)
                    //            a(href='/panel/customer/list/#{next_page}/10/')
                    //                img(src="/public/icons/next.png", class="pagination_icon")
                    //    div(class='col s5' style='direction: ltr')
                    //        - if(prev_page > 0)
                    //            a(href='/panel/customer/list/#{prev_page}/10/')
                    //                img(src="/public/icons/prev.png", class="pagination_icon")

