extends layout
block content
    div(class='form-container')
        div
            form(action="/panel/customer/edit/", method="post")
                h3 ویرایش کاربر
                input(
                class='form-control'
                type='text'
                required='required'
                value='#{customer.phone_number}'
                placeholder='شماره تلفن'
                name='phone_number'
                )
                br
                input(
                class='form-control'
                type='text'
                required='required'
                value='#{customer._id}'
                placeholder='آیدی کاربر'
                name='customer_id'
                )
                br
                input(
                class='form-control'
                required='required'
                type='text'
                value='#{customer.name}'
                placeholder='نام'
                name='name'
                )
                br
                input(
                class='form-control'
                required='required'
                value='#{customer.address}'
                type='text'
                placeholder='آدرس'
                name='address'
                )
                br
                input(
                class='form-control'
                type='text'
                required='required'
                value='#{customer.email}'
                placeholder='ایمیل'
                name='email'
                )
                br
                input(
                class='btn btn-success'
                type='submit'
                value='ویرایش کاربر'
                )
