extends layout
block content

    div(class="row")
        div(class="col-md-6")
            div(class="box box-success")
                div(class="box-header with-border")
                    h4 اطلاعات

                form(role="form")

                div(class='box-body')
                    td
                        - if(customer.avatar == "")
                            img(class="driver_avatar", src="/public/adminlte/img/logo.png")
                        - else
                            img(class="driver_avatar", src="/#{customer.avatar}")

                    h5 نام:  #{customer.name}
                    h5 نام خانوادگی: #{customer.family}
                    h5 گروه خونی: #{customer.blood_group}
                    h5 شماره تلفن: #{customer.phone_number}
                    h5 آدرس: #{customer.address}
                    h5 ایمیل: #{customer.email}
                    h5 تلفن تماس ضروری: #{customer.emergency_phone_number}
                    h5 تاریخ تولد: #{customer.birthday}
                    h5 کد فعال‌سازی: #{customer.verification_code}



        div(class="col-md-6")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 موجودی فعلی کاربر

                form(role="form")

                div(class='box-body')

                    div(class='form-container form-inline')

                        form(action="/panel/customer/money/set/", method="post", enctype="multipart/form-data")

                            input(
                            class="form-control right-margin"
                            name="money"
                            required='required'
                            value='#{money}'
                            )
                            input(
                            class="form-control right-margin"
                            name="customer_id"
                            required='required'
                            value='#{customer._id}'
                            readonly='readonly'
                            type="hidden"
                            )
                            input(
                            class='btn btn-success right-margin'
                            type='submit'
                            value='ثبت موجودی'
                            )

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 لیست سفرهایی که تاکسی یافت نشده است

                form(role="form")

                div(class='box-body')

                    div(class='form-container form-inline')

                        form(action="/panel/customer/travels/filter/", method="post", enctype="multipart/form-data")

                            select(class="form-control", name="filter")
                                option(value="none") اولیه
                                option(value="finished") تمام شده
                                option(value="taxi_not_found") تاکسی یافت نشده
                                option(value="customer_confirmed") تایید مشتری
                                option(value="support_confirmed") تایید پشتیبانی
                                option(value="taxi_confirmed") تایید تاکسی
                                option(value="taxi_canceled") کنسل شده توسط تاکسی
                                option(value="support_canceled") کنسل شده توسط پشتیبانی
                                option(value="customer_canceled") کنسل شده توسط مشتری
                                option(value="finish_commented") تمام شده و نظر داده
                                option(value="taxi_founded") داره از تاکسی میپرسه

                            input(
                            class="form-control right-margin"
                            name="customer_id"
                            required='required'
                            value='#{customer._id}'
                            readonly='readonly'
                            type="hidden"
                            )
                            input(
                            class='btn btn-success right-margin'
                            type='submit'
                            value='مشاهده‌ی سفرها'
                            )




    div(class="row")
        div(class="col-md-12")
            div(class="box box-danger")
                div(class="box-header with-border")
                    h4 سفرهای کاربر

                form(role="form")

                div(class='box-body')
                    div
                        table(class='table table-table-responsive content_table highlight')
                            tr
                                th شماره سفر
                                th وضعیت سفر
                                th فعالی
                                th نوع پرداخت
                                th هزینه سفر
                                th مدیریت سفر
                            each item in travels
                                tr
                                    td #{item.travel_code}
                                    td
                                        - if(item.state == 'customer_canceled')
                                            p مسافر کنسل کرده
                                        - if(item.state == 'support_canceled')
                                            p پشتیبانی کنسل کرده
                                        - if(item.state == 'taxi_refused')
                                            p تاکسی رد کرده
                                        - if(item.state == 'taxi_confirmed')
                                            p تایید تاکسی (در راه رسیدن)
                                        - if(item.state == 'travel_started')
                                            p سفر شروع شده
                                        - if(item.state == 'searching')
                                            p داره میسرچه
                                        - if(item.state == 'taxi_founded')
                                            p داره از تاکسی میپرسه
                                        - if(item.state == 'finished')
                                            p سفر تمام شده
                                        - if(item.state == 'finish_commented')
                                            p سفر تمام شده و نظر داده شده
                                        - if(item.state == 'taxi_not_found')
                                            p تاکسی یافت نشده
                                        - if(item.state == 'taxi_canceled')
                                            p تاکسی کنسل کرده
                                        - if(item.state == 'put_off_searching')
                                            p در حال جستجو(پس از انصراف تاکسی)
                                        - if(item.state == 'none')
                                            p اولیه


                                    td
                                        - if(item.is_active == 1)
                                            img(src="/public/icons/online.png", class="list_icon")
                                        - if(item.is_active == 0)
                                            img(src="/public/icons/offline.png", class="list_icon")
                                    td
                                        - if(item.payment_type == "cash")
                                            img(src="/public/icons/cash.png", class="list_icon")
                                        - if(item.payment_type == "wallet")
                                            img(src="/public/icons/credit.png", class="list_icon")
                                    td #{item.cost} تومان
                                    td
                                        a(href='/panel/travel/#{item._id}')
                                            img(src="/public/icons/setting.png", class="list_icon")


                        //- if(is_pagination == true)
                        //    div(class='row pagination_part')
                        //        div(class='col s7')
                        //            - if(travels.length >= 10)
                        //                a(href='#{path}#{next_page}/10/')
                        //                    img(src="/public/icons/next.png", class="pagination_icon")
                        //        div(class='col s5' style='direction: ltr')
                        //            - if(prev_page > 0)
                        //                a(href='#{path}#{prev_page}/10/')
                        //                    img(src="/public/icons/prev.png", class="pagination_icon")

                    div(class='row pagination_part')
                        ul(class="pagination")
                            - if(travels.length >= 10)


                                - if(prev_page > 0)
                                    li
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;
                                - else
                                    li(class="disabled")
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li
                                    a(href="#{path}#{next_page}/10/" aria-label="Previous")
                                        span(aria-hidden="true") &raquo;


                            - else

                                - if(prev_page > 0)
                                    li
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                - else
                                    li(class="disabled")
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li(class="disabled")
                                    a(href="#{path}#{next_page}/10/")
                                        span(aria-hidden="true") &raquo;

    //div(class='form-container')
    //    table(class='table table-table-responsive content_table highlight')
    //        tr
    //            th نام
    //            th فامیلی
    //            th شماره تلفن
    //            th بیشتر
    //        each customer in customers
    //            tr
    //
    //                td #{customer.name}
    //                td #{customer.family}
    //                td #{customer.phone_number}
    //                td
    //                    a(href='/panel/customer/#{customer._id}')
    //                        img(src="/public/icons/setting.png", class="list_icon")
    //
    //div(class='row pagination_part')
    //    div(class='col s7')
    //        - if(customers.length >= 10)
    //        a(href='/panel/customer/list/#{next_page}/10/')
    //            img(src="/public/icons/next.png", class="pagination_icon")
    //    div(class='col s5' style='direction: ltr')
    //        - if(prev_page > 0)
    //        a(href='/panel/customer/list/#{prev_page}/10/')
    //            img(src="/public/icons/prev.png", class="pagination_icon")

