extends layout
block content

    div(class="row")

        div(class="col-md-12")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 آمار کلی

                form(role="form")

                div(class='box-body')

                    div(class="row")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-yellow")
                                div(class="inner")
                                    h3 #{stat.taxis_number}
                                    p تعداد تاکسی ها

                                div(class="icon")
                                    i(class="ion ion-model-s")

                                a(href="/panel/taxi/list/1/10/" class="small-box-footer")
                                    p اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-green")
                                div(class="inner")
                                    h3 #{stat.customers_number}
                                    p تعداد کاربران

                                div(class="icon")
                                    i(class="ion ion-person-stalker")

                                a(href="/panel/customer/list/1/10/" class="small-box-footer")
                                    p اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-red")
                                div(class="inner")
                                    h3 #{stat.travels_stat.travels_number}
                                    p کل سفرها

                                div(class="icon")
                                    i(class="ion ion-help-buoy")

                                a(href="/panel/travel/list/1/10/" class="small-box-footer")
                                    p  اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

    div(class="row")

        div(class="col-md-12")

            div(class="box box-primary")

                div(class="box-header with-border")
                    h4 نمودار سفرهای ۲۰ روز گذشته

                form(role="form")

                div(class='box-body')

                    div(class="chart" id="line-chart" style="height: 300px;")

    div(class="row")

        div(class="col-md-12")

            div(class="box box-primary")

                div(class="box-header with-border")
                    h4 مبدا ۵۰ سفر قبلی روی نقشه

                form(role="form")

                div(class='box-body')

                    div(id="map", style="height: 500px;")

    div(class="row")

        div(class="col-md-12")

            div(class="box box-primary")

                div(class="box-header with-border")
                    h4 آمار مربوط به سفرها

                form(role="form")

                div(class='box-body')

                    div(class="row")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.finished_number}
                                    p سفرها تمام شده

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.taxi_canceled_number}
                                    p سفرها لغو شده از جانب تاکسی

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.taxi_not_found_number}
                                    p سفرهای تاکسی یافت نشده

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.finish_commented_number}
                                    p سفرهای تمام شده و نظر داده شده

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                    div(class="row")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.taxi_founded_number}
                                    p سفرهای در حال پرسیدن تاکسی

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.searching_number}
                                    p سفرهای در حال جستجوی تاکسی

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.travel_started_number}
                                    p سفرهای استارت خورده

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.customer_canceled_number}
                                    p سفرها لغو شده از جانب مسافر

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.support_canceled_number}
                                    p سفرها لغو شده از جانب پشتیبانی

                                div(class="icon")
                                    i(class="ion ion-plane")


    script.

        var line = new Morris.Bar({
                element: 'line-chart',
                resize: true,
                data: !{JSON.stringify(stat.date_travels)},
                xkey: '_id',
                ykeys: ['count'],
                labels: ['تعداد سفرها'],
                barColors: ['#d4a700'],
                hideHover: 'auto'
            });

        var latest_travels = !{JSON.stringify(stat.latest_travels)};

        console.log(latest_travels);

        map = new GMaps({
            div: '#map',
            lat: 32.669604,
            lng: 51.667983,
            zoom: 13
        });

        var positions = [];

        for(var i=0; i<latest_travels.length; i++) {

            positions.push(new google.maps.LatLng(parseFloat(latest_travels[i].source_lat), parseFloat(latest_travels[i].source_lan)));

            map.addMarker({
                lat: latest_travels[i].source_lat,
                lng: latest_travels[i].source_lan,
                title: 'مبدا',
                icon: '/icons/pin_home.png'
            });

        }

        console.log(positions);

        map.fitLatLngBounds(positions);




