extends layout
block content
    div(class="row")
        div(class="col-md-12")
            div(class="box box-success")
                div(class="box-header with-border")
                    h4 اطلاعات

                form(role="form")

                div(class='box-body')

                    div(class='form-container')

                        table(class='table table-table-responsive content_table highlight')
                            tr
                                th کد تخفیف
                                th درصد تخفیف
                                th سقف مبلغ
                                th فعال بودن
                                th توضیح کد
                                th سراسری بودن
                                th میزان روز فعال
                                th تعداد استفاده
                                th تاریخ تعریف
                                th ویرایش
                            each discount in discount_codes
                                tr
                                    td #{discount.code}
                                    td
                                        b #{discount.amount}٪
                                    td
                                        b #{discount.max_cost}تومان
                                    td
                                        - if(discount.is_active == false)
                                            span(class="label label-default") غیر فعال
                                        - if(discount.is_active == true)
                                            span(class="label label-success")  فعال
                                    td #{discount.description}
                                    td
                                        - if(discount.is_active == false)
                                            span(class="label label-default") غیر سراسری
                                        - if(discount.is_active == true)
                                            span(class="label label-success")  سراسری
                                    td #{discount.days}
                                    td #{discount.count}
                                    td #{discount.date}
                                    td
                                        a(href='/panel/support/promotions/discount_code/edit/#{discount._id}/')
                                            i(class="fa fa-wrench fa-2x")

                        div(class='row pagination_part')
                            ul(class="pagination")
                                - if(discount_codes.length >= 10)


                                    - if(prev_page > 0)
                                        li
                                            a(href="/panel/support/promotions/discount_code/list/#{prev_page}/10/")
                                                span(aria-hidden="true") &laquo;
                                    - else
                                        li(class="disabled")
                                            a(href="#/panel/support/promotions/discount_code/list/#{prev_page}/10/")
                                                span(aria-hidden="true") &laquo;

                                    li(class="active")
                                        a(href="#" aria-label="Previous")
                                            span #{next_page - 1}

                                    li
                                        a(href="/panel/support/promotions/discount_code/list/#{next_page}/10/" aria-label="Previous")
                                            span(aria-hidden="true") &raquo;


                                - else

                                    - if(prev_page > 0)
                                        li
                                            a(href="/panel/support/promotions/discount_code/list/#{prev_page}/10/")
                                                span(aria-hidden="true") &laquo;

                                    - else
                                        li(class="disabled")
                                            a(href="/panel/support/promotions/discount_code/list/#{prev_page}/10/")
                                                span(aria-hidden="true") &laquo;

                                    li(class="active")
                                        a(href="#" aria-label="Previous")
                                            span #{next_page - 1}

                                    li(class="disabled")
                                        a(href="/panel/support/promotions/discount_code/list/#{next_page}/10/")
                                            span(aria-hidden="true") &raquo;

                    //div(class="row")
                    //    div(class="col-md-6")
                    //        div(class="box box-success")
                    //            div(class="box-header with-border")
                    //                h4 اطلاعات
                    //
                    //            form(role="form")
                    //
                    //            div(class='box-body')
                    //
                    //                div(class='row pagination_part')
                    //                    div(class='col s6')
                    //                        - if(discount_codes.length >= 10)
                    //                            a(href='/panel/support/promotions/discount_code/list/#{next_page}/10/')
                    //                                img(src="/public/icons/next.png", class="pagination_icon")
                    //                    div(class='col s6' style='direction: ltr')
                    //                        - if(prev_page > 0)
                    //                        a(href='/panel/support/promotions/discount_code/list/#{prev_page}/10/')
                    //                            img(src="/public/icons/prev.png", class="pagination_icon")
