extends layout
block content
    div(class="row")
        div(class="col-md-6")
            div(class="box box-success")
                div(class="box-header with-border")
                    h5 محله های فعال برای این تخفیف

                form(role="form")

                div(class='box-body')

                    div
                        select(class="form-control", name="place_id", id="place_id", style="display: inline")
                            option(value="none" selected="selected") انتخاب محله مبدا
                            each place in places
                                option(value="#{place._id}") #{place.place_name}
                        input(class="btn right-margin", type="button", value="افزودن", id="add_discount_place_btn", discount_id="#{discount._id}")

                        - if(discount_places.length == 0)
                            h4 هیچ محله ای نیست
                        - else
                            ul(class="collection with-header", id="discount_places_list")
                                li(class="collection-header") لیست محله‌ها
                                each discount_place in discount_places
                                    li(class="collection-item") #{discount_place.place_name}
                                        div(class="waves-effect btn-sm secondary-content remove_discount_place_btn", place_id="#{discount_place._id}", discount_id="#{discount._id}", type="button", value="حذف") حذف

        div(class="col-md-6")
            div(class="box box-success")
                div(class="box-header with-border")
                    h5 ویرایش کد تخفیف

                form(role="form")

                div(class='box-body')
                    div(class='col s6')
                        form(action="/panel/support/promotions/discount_code/edit/", method="post")

                            input(
                            class='form-control'
                            type='text'
                            required='required'
                            value='#{discount._id}'
                            name='discount_id'
                            readonly="readonly"
                            )
                            br
                            label(for='amount') درصد تخفیف
                            input(
                            class='form-control'
                            type='number'
                            id='amount'
                            required='required'
                            value='#{discount.amount}'
                            placeholder='درصد تخفیف'
                            name='amount'
                            readonly="readonly"
                            )
                            br

                            label(for='max_cost') حداکثر مبلغ
                            input(
                            class='form-control'
                            type='number'
                            id='max_cost'
                            required='required'
                            value='#{discount.max_cost}'
                            placeholder='حداکثر مبلغ'
                            name='max_cost'
                            )
                            br
                            label(for='date') تاریخ اعمال
                            input(
                            class='form-control'
                            type='text'
                            id='date'
                            required='required'
                            value='#{discount.date}'
                            name='date'
                            readonly="readonly"
                            )
                            br
                            label(for='days') تعداد روز‌های فعال
                            input(
                            class='form-control'
                            type='number'
                            required='required'
                            value='#{discount.days}'
                            placeholder='روز‌های فعال'
                            name='days'
                            id='days'
                            )
                            br
                            label(for='count') تعداد استفاده توسط کاربر
                            input(
                            class='form-control'
                            type='number'
                            required='required'
                            value='#{discount.count}'
                            placeholder='تعداد استفاده توسط کاربر'
                            name='count'
                            id='count'
                            )
                            br
                            label(for='description') توضیحات
                            input(
                            class='form-control'
                            required='required'
                            type='text'
                            value='#{discount.description}'
                            placeholder='توضیح'
                            name='description'
                            id='description'
                            )
                            br
                            label(for='is_global') سراسری بودن کد تخفیف
                            select(class="form-control", name="is_global", id="is_global", disabled="disabled")
                                - if(discount.is_global == false)
                                    option(value="false" selected="selected") غیر فعال
                                    option(value="true") فعال
                                - if(discount.is_global == true)
                                    option(value="true" selected="selected") فعال
                                    option(value="false") غیر فعال
                            br
                            label(for='is_active') فعال بودن کد تخفیف
                            select(class="form-control", name="is_active", id="is_active")
                                - if(discount.is_active == false)
                                    option(value="false" selected="selected") غیر فعال
                                    option(value="true") فعال
                                - if(discount.is_active == true)
                                    option(value="true" selected="selected") فعال
                                    option(value="false") غیر فعال
                            br
                            input(
                            class='btn btn-success'
                            type='submit'
                            value='ویرایش کد تخفیف'
                            )

