extends layout
block content
    div(class="row")
        div(class="col-md-6")
            div(class="box box-success")
                div(class="box-header with-border")
                    h4 تعریف کد تخفیف

                form(role="form")

                div(class='box-body')

                    form(action="/panel/support/promotions/discount_code/new/", method="post", enctype="multipart/form-data")

                        input(
                        class='form-control'
                        type='text'
                        required='required'
                        placeholder='کد تخفیف'
                        name='code'
                        )
                        br
                        input(
                        class='form-control'
                        type='number'
                        required='required'
                        placeholder='درصد تخفیف'
                        name='amount'
                        )
                        br
                        input(
                        class='form-control'
                        type='number'
                        required='required'
                        placeholder='سقف مبلغ تخفیف'
                        name='max_cost'
                        )
                        br
                        input(
                        class='form-control'
                        type='number'
                        required='required'
                        placeholder='تعداد روز فعال'
                        name='days'
                        )
                        br
                        input(
                        class='form-control'
                        type='number'
                        required='required'
                        placeholder='تعداد استفاده توسط کاربر'
                        name='count'
                        )
                        br
                        input(
                        type='text'
                        class='form-control'
                        required='required'
                        placeholder='توضیحات'
                        name='description'
                        )
                        br
                        select(class="form-control", name="is_active", id="is_active")
                            option(value="none" selected="selected") فعال بودن؟
                            option(value="true") فعال
                            option(value="false") غیر فعال
                        br
                        select(class="form-control", name="is_global", id="is_global")
                            option(value="none" selected="selected") تخفیف سراسری؟
                            option(value="true") سراسری
                            option(value="false") غیر سراسری
                        br
                        select(class="form-control", name="place_id", id="place_id")
                            option(value="none" selected="selected") انتخاب محله مبدا
                            each place in places
                                option(value="#{place._id}") #{place.place_name}
                        br
                        input(
                        class='btn btn-success'
                        type='submit'
                        value='ثبت کد تخفیف'
                        )
