extends layout
block content
    div(class='form-container')
        div
            form(action="/panel/support/factors/edit/", method="post")
               h3 ویرایش فاکتور

                br
                br
                input(
                class='form-control'
                type='text'
                name='factor_id'
                value='#{factor._id}'
                )
                br

                input(
                class='form-control'
                type='text'
                required='required'
                value='#{factor.cost}'
                name='cost'
                )

               br
               br
               input(
               class='btn btn-success'
               type='submit'
               value='ویرایش قیمت'
               )