extends layout
block content
   div(class='form-container')
      table(class='table table-table-responsive content_table highlight')
         tr
            th نام محله اول
            th نام محله دوم
            th کرایه
            th ویرایش
         each factor in factors
            tr
               td #{factor.first_place_name}
               td #{factor.second_place_name}
               td #{factor.cost}
               td
                  a(href='/panel/support/factors/edit/#{factor._id}')
                     input(type='button', class='btn btn-sm btn-primary', value='ویرایش قیمت')

      div(class='row')
         div(class='col-md-2')
            a(href='/panel/support/factors/list/#{next_page}/10/')
               input(
               class='btn btn-block btn-primary'
               type='submit'
               value='صفحه‌ی بعدی'
               )
         div(class='col-md-2')
            - if(prev_page > 0)
               a(href='/panel/support/factors/list/#{prev_page}/10/')
                  input(
                  class='btn btn-block btn-primary'
                  type='submit'
                  value='صفحه قبلی'
                  )