extends layout
block content

    div(class="row")
        div(class="col-md-6")

            div(class="box box-danger")
                div(class="box-header with-border")
                    h4 ویرایش فاکتور محاسبه‌ی قیمت

                form(role="form")

                div(class='box-body')

                    div(class='form-container form-inline')

                        form(action="/panel/support/factors/base/set/", method="post", enctype="multipart/form-data")

                            input(
                            class="form-control right-margin"
                            name="factor"
                            required='required'
                            value='#{base_factor}'
                            )
                            input(
                            class='btn btn-success right-margin'
                            type='submit'
                            value='ثبت قیمت'
                            )

        div(class="col-md-6")

            div(class="box box-danger")
                div(class="box-header with-border")
                    h4 ویرایش فاکتورها و ضرایب

                div(class='box-body')

                    div(class='form-container form-inline')

                        form(action="/panel/support/updatecostfactors/", method="post", enctype="multipart/form-data")

                            label(for="input_factor") قیمت ورودی
                            br
                            input(
                            class="form-control right-margin"
                            name="input_factor"
                            id="input_factor"
                            required='required'
                            value='#{service_factor.input_factor}'
                            )
                            br
                            label(for="stop_factor") هزینه توقف به ازای هر دقیقه
                            br
                            input(
                            class="form-control right-margin"
                            name="stop_factor"
                            id="stop_factor"
                            required='required'
                            value='#{service_factor.stop_factor}'
                            )
                            br
                            label(for="lady_factor") ضریب سرویس بانوان
                            br
                            input(
                            class="form-control right-margin"
                            name="lady_factor"
                            id="lady_factor"
                            required='required'
                            value='#{service_factor.lady_factor}'
                            )
                            br
                            label(for="vip_factor") ضریب سرویس لاکچری
                            br
                            input(
                            class="form-control right-margin"
                            name="vip_factor"
                            id="vip_factor"
                            required='required'
                            value='#{service_factor.vip_factor}'
                            )
                            br
                            label(for="normal_factor") ضریب سرویس اقتصادی
                            br
                            input(
                            class="form-control right-margin"
                            name="normal_factor"
                            id="normal_factor"
                            required='required'
                            value='#{service_factor.normal_factor}'
                            )
                            br
                            label(for="two_way_factor") ضریب رفت و برگشت
                            br
                            input(
                            class="form-control right-margin"
                            name="two_way_factor"
                            id="two_way_factor"
                            required='required'
                            value='#{service_factor.two_way_factor}'
                            )
                            br
                            br
                            input(
                            class='btn btn-success right-margin'
                            type='submit'
                            value='ثبت قیمت‌ها'
                            )

    div(class="row")

        div(class="col-md-12")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 جدول ضریب طول مسیرها
                    h5 دقت کنید که ضریبی که وارد می‌کنید، در فاکتور محاسبه‌ی قیمت ضرب می‌شود

                form(role="form")

                    div(class='box-body')

                        div(class='form-container form-inline')
                            div(class="row")

                                div(class='col-md-6')

                                    form(action="/panel/support/factors/distance/set/", method="post", enctype="multipart/form-data")

                                        input(
                                        class="form-control right-margin time_duration_row"
                                        required='required'
                                        readonly='readonly'
                                        value="زیر ۳ کیلومتر"
                                        )
                                        input(
                                        class="form-control right-margin"
                                        name="start_distance"
                                        required='required'
                                        readonly='readonly'
                                        value='0'
                                        type="hidden"
                                        )
                                        input(
                                        class="form-control right-margin"
                                        name="end_distance"
                                        required='required'
                                        readonly='readonly'
                                        value='3'
                                        type="hidden"
                                        )
                                        - if(distance_factors.distances.indexOf(0) > -1)
                                            input(
                                            class="form-control right-margin time_factor_row"
                                            name="factor_value"
                                            required='required'
                                            value="#{distance_factors['0']}"
                                            )

                                        - else
                                            input(
                                            class="form-control right-margin time_factor_row"
                                            name="factor_value"
                                            required='required'
                                            value='1'
                                            )

                                        input(
                                        class='btn btn-success right-margin'
                                        type='submit'
                                        value='ثبت ضریب'
                                        )

                                    br
                                    br
                                    form(action="/panel/support/factors/distance/set/", method="post", enctype="multipart/form-data")

                                        input(
                                        class="form-control right-margin time_duration_row"
                                        name="factor"
                                        required='required'
                                        readonly='readonly'
                                        value='بین ۳ تا ۶ کیلومتر'
                                        )
                                        input(
                                        class="form-control right-margin"
                                        name="start_distance"
                                        required='required'
                                        readonly='readonly'
                                        value='3'
                                        type="hidden"
                                        )
                                        input(
                                        class="form-control right-margin"
                                        name="end_distance"
                                        required='required'
                                        readonly='readonly'
                                        value='6'
                                        type="hidden"
                                        )
                                        - if(distance_factors.distances.indexOf(3) > -1)
                                            input(
                                            class="form-control right-margin time_factor_row"
                                            name="factor_value"
                                            required='required'
                                            value="#{distance_factors['3']}"
                                            )

                                        - else
                                            input(
                                            class="form-control right-margin time_factor_row"
                                            name="factor_value"
                                            required='required'
                                            value='1'
                                            )

                                        input(
                                        class='btn btn-success right-margin'
                                        type='submit'
                                        value='ثبت ضریب'
                                        )

                                    br
                                    form(action="/panel/support/factors/distance/set/", method="post", enctype="multipart/form-data")

                                        input(
                                        class="form-control right-margin time_duration_row"
                                        name="factor"
                                        required='required'
                                        readonly='readonly'
                                        value='بین ۶ تا ۹ کیلومتر'
                                        )
                                        input(
                                        class="form-control right-margin"
                                        name="start_distance"
                                        required='required'
                                        readonly='readonly'
                                        value='6'
                                        type="hidden"
                                        )
                                        input(
                                        class="form-control right-margin"
                                        name="end_distance"
                                        required='required'
                                        readonly='readonly'
                                        value='9'
                                        type="hidden"
                                        )
                                        - if(distance_factors.distances.indexOf(6) > -1)
                                            input(
                                            class="form-control right-margin time_factor_row"
                                            name="factor_value"
                                            required='required'
                                            value="#{distance_factors['6']}"
                                            )

                                        - else
                                            input(
                                            class="form-control right-margin time_factor_row"
                                            name="factor_value"
                                            required='required'
                                            value='1'
                                            )

                                        input(
                                        class='btn btn-success right-margin'
                                        type='submit'
                                        value='ثبت ضریب'
                                        )


                                div(class='col-md-6')

                                    form(action="/panel/support/factors/distance/set/", method="post", enctype="multipart/form-data")

                                        input(
                                        class="form-control right-margin time_duration_row"
                                        name="factor"
                                        required='required'
                                        readonly='readonly'
                                        value='از ۹ تا ۱۲ کیلومتر'
                                        )
                                        input(
                                        class="form-control right-margin"
                                        name="start_distance"
                                        required='required'
                                        readonly='readonly'
                                        value='9'
                                        type="hidden"
                                        )
                                        input(
                                        class="form-control right-margin"
                                        name="end_distance"
                                        required='required'
                                        readonly='readonly'
                                        value='12'
                                        type="hidden"
                                        )
                                        - if(distance_factors.distances.indexOf(9) > -1)
                                            input(
                                            class="form-control right-margin time_factor_row"
                                            name="factor_value"
                                            required='required'
                                            value="#{distance_factors['9']}"
                                            )

                                        - else
                                            input(
                                            class="form-control right-margin time_factor_row"
                                            name="factor_value"
                                            required='required'
                                            value='1'
                                            )

                                        input(
                                        class='btn btn-success right-margin '
                                        type='submit'
                                        value='ثبت ضریب'
                                        )
                                    br
                                    form(action="/panel/support/factors/distance/set/", method="post", enctype="multipart/form-data")

                                        input(
                                        class="form-control right-margin time_duration_row"
                                        name="factor"
                                        required='required'
                                        readonly='readonly'
                                        value='از 12 کیلومتر به بالا'
                                        )

                                        input(
                                        class="form-control right-margin"
                                        name="start_distance"
                                        required='required'
                                        readonly='readonly'
                                        value='12'
                                        type="hidden"
                                        )
                                        input(
                                        class="form-control right-margin"
                                        name="end_distance"
                                        required='required'
                                        readonly='readonly'
                                        value='100'
                                        type="hidden"
                                        )

                                        - if(distance_factors.distances.indexOf(12) > -1)
                                            input(
                                            class="form-control right-margin time_factor_row"
                                            name="factor_value"
                                            required='required'
                                            value="#{distance_factors['12']}"
                                            )

                                        - else
                                            input(
                                            class="form-control right-margin time_factor_row"
                                            name="factor_value"
                                            required='required'
                                            value='1'
                                            )

                                        input(
                                        class='btn btn-success right-margin'
                                        type='submit'
                                        value='ثبت ضریب'
                                        )




    div(class="row")

        div(class="col-md-12")

                div(class="box box-success")
                    div(class="box-header with-border")

                        h4 جدول زمانبندی زمان‌ها

                        h5 دقت کنید که رقمی که به عنوان کرایه وارد می شود به ازای هر کیلومتر می باشد


                    form(role="form")

                        div(class='box-body')

                            div(class='form-container form-inline')
                                div(class="row")
                                    div(class='col-md-6')
                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت ۰۰:۰۰ تا ۰۱:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='0'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(0) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['0']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )

                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت ۰۱:۰۰ تا ۰۲:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='1'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(1) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['1']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )

                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۰۲:۰۰ تا ۰۳:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='2'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(2) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['2']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )

                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۰۳:۰۰ تا ۰۴:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='3'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(3) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['3']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )

                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۰۴:۰۰ تا ۰۵:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='4'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(4) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['4']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۰۵:۰۰ تا ۰۶:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='5'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(5) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['5']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۰۶:۰۰ تا ۰۷:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='6'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(6) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['6']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۰۷:۰۰ تا ۰۸:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='7'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(7) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['7']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )


                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۰۸:۰۰ تا ۰۹:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='8'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(8) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['8']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۰۹:۰۰ تا ۱۰:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='9'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(9) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['9']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۱۰:۰۰ تا ۱۱:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='10'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(10) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['10']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۱۱:۰۰ تا ۱۲:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='11'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(11) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['11']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                    div(class='col-md-6')

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۱۲:۰۰ تا ۱۳:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='12'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(12) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['12']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۱۳:۰۰ تا ۱۴:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='13'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(13) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['13']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۱۴:۰۰ تا ۱۵:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='14'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(14) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['14']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۱۵:۰۰ تا ۱۶:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='15'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(15) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['15']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )




                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۱۶:۰۰ تا ۱۷:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='16'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(16) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['16']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۱۷:۰۰ تا ۱۸:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='17'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(17) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['17']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۱۸:۰۰ تا ۱۹:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='18'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(18) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['18']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۱۹:۰۰ تا ۲۰:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='19'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(19) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['19']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۲۰:۰۰ تا ۲۱:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='20'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(20) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['20']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )
                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۲۱:۰۰ تا ۲۲:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='21'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(21) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['21']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۲۲:۰۰ تا ۲۳:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='22'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(22) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['22']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

                                        form(action="/panel/support/factors/time/set/", method="post", enctype="multipart/form-data")

                                            input(
                                            class="form-control right-margin time_duration_row"
                                            name="factor"
                                            required='required'
                                            readonly='readonly'
                                            value='از ساعت۲۳:۰۰ تا ۲۴:۰۰'
                                            )
                                            input(
                                            class="form-control right-margin"
                                            name="factor_time"
                                            required='required'
                                            readonly='readonly'
                                            value='23'
                                            type="hidden"
                                            )
                                            - if(factors.hours.indexOf(23) > -1)
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value="#{factors['23']}"
                                                )

                                            - else
                                                input(
                                                class="form-control right-margin time_factor_row"
                                                name="factor_value"
                                                required='required'
                                                value='#{base_factor}'
                                                )
                                            input(
                                            class='btn btn-success right-margin'
                                            type='submit'
                                            value='ثبت قیمت'
                                            )

    div(class="row")
        div(class="col-md-12")

            div(class="box box-default")
                div(class="box-header with-border")
                    h4 اضافه کردن فاکتور

                form(role="form")

                div(class='box-body')

                    div(class='form-container form-inline')

                        input(
                        class="form-control right-margin "
                        name="first_place_id"
                        required='required'
                        id="first_place_id"
                        )
                        input(
                        class="form-control right-margin"
                        name="second_place_id"
                        id="second_place_id"
                        required='required'
                        )
                        input(
                        class='form-control right-margin'
                        type='number'
                        id='factor_cost'
                        required='required'
                        placeholder='مبلغ کرایه'
                        name='cost'
                        )
                        input(
                        class='btn btn-success right-margin'
                        id='factor_register'
                        type='button'
                        value='ثبت قیمت'
                        )
