doctype html
html
  head
    title رهتاک
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/date_picker.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/materialize.min.js')
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBSXXfkWfuFcsWWLkt1bzGvsbw6noAEtv8')
    script(src='/javascripts/gmaps.js')
    script(src='/javascripts/notify.min.js')
    script(src='/javascripts/pnotify.min.js')
    script(src='/javascripts/jquery.notification.js')
    script(src='/javascripts/croppie.js')
    script(src='/javascripts/persian_date.js')
    script(src='/javascripts/persian_date_picker.js')
    script(src='/javascripts/jquery.autocomplete.js')
    body

        if(user)

            if(user.is_admin)

                ul(id="travels_drop_down" class="dropdown-content")
                    li
                        a(href='/panel/travel/list/1/10' class="waves-effect waves-teal") لیست سفرها

                ul(id="report_drop_down" class="dropdown-content")
                    li
                        a(href='/panel/report/getallstat/' class="waves-effect waves-teal") آمار کلی

                    li
                        a(href='/panel/report/getfinancereport/' class="waves-effect waves-teal") گزارشات مالی

                ul(id="users_drop_down" class="dropdown-content")
                    li
                        a(href='/panel/customer/list/1/10' class="waves-effect waves-teal") لیست کاربران

                ul(id="support_drop_down" class="dropdown-content")

                    li
                        a(href='/panel/support/messages/1/10/' class="waves-effect waves-teal") پیامهای کاربران

                    li
                        a(href='/panel/support/places/1/10' class="waves-effect waves-teal") لیست محله ها

                    li
                        a(href='/panel/support/places/add/' class="waves-effect waves-teal") اضافه کردن محله

                    li
                        a(href='/panel/support/factors/list/1/10' class="waves-effect waves-teal") لیست کرایه ها

                    li
                        a(href='/panel/support/factors/add/' class="waves-effect waves-teal") اضافه کردن کرایه ها

                    li
                        a(href='/panel/support/version/updateversion/' class="waves-effect waves-teal") مدیریت ورژن برنامه

                    li
                        a(href='/panel/support/activate/' class="waves-effect waves-teal") مدیریت فعال بودن برنامه

                    li
                        a(href='/panel/support/notify/' class="waves-effect waves-teal") سیستم ناتیفیکیشن

                    li
                        a(href='/panel/comment/list/' class="waves-effect waves-teal") سیستم نظرات

                    li
                        a(href='/panel/restore/' class="waves-effect waves-teal") بازنشانی

                ul(id="taxi_drop_down" class="dropdown-content")

                    li
                        a(href='/panel/taxi/add/' class="waves-effect waves-teal") ثبت نام تاکسی جدید

                    li
                        a(href='/panel/taxi/list/1/10' class="waves-effect waves-teal") لیست تاکسی ها

                ul(id="promotion_drop_down" class="dropdown-content")

                    li
                        a(href='/panel/support/promotions/discount_code/new/' class="waves-effect waves-teal") تعریف کد تخفیف

                    li
                        a(href='/panel/support/promotions/discount_code/list/1/10/' class="waves-effect waves-teal") مشاهده‌ی کد‌های تخفیف




                nav(class="main_nav")
                    div(class="nav-wrapper")
                        a(class="brand-logo") رهتاک
                        ul(class="hide-on-med-and-down")

                            li
                                a(class="dropdown-button" data-activates="support_drop_down") پشتیبانی
                            li
                                a(class="dropdown-button" data-activates="promotion_drop_down") پروموشن
                            li
                                a(class="dropdown-button" data-activates="taxi_drop_down") تاکسی‌ها
                            li
                                a(href="/panel/customer/list/1/10") کاربران
                            li
                                a(href="/panel/travel/list/1/10") سفرها
                            li
                                a(class="dropdown-button" data-activates="report_drop_down") گزارشات




                - if (welcome_message)
                    div(class='wel_message')
                        h4 #{welcome_message}

                div(class='content')
                    block content

            else if (!user.is_admin)

                h3 برای رفتن به پنل خود روی دکمه‌ی زیر کلیک کنید
                br
                a(href='/')
                    input(
                    class='btn btn-large btn-danger'
                    type='button'
                    value='پنل مدیریتی'
                    )




        else if (!user)

            div(class='container')
                div(class='login_part')
                    h5 ورود مدیر سیستم
                    br
                    form(method="post", action="/login/")
                        input(class="form-control", type="text", name='username', placehoder='نام کاربری')
                        br
                        input(class="form-control", type="password", name='password', placehoder='رمز عبور')
                        br
                        input(class="btn btn-primary", type="submit", value="ورود")

    script(src='/javascripts/panel.js')

