extends layout
block content

    div(class="row")

        div(class="col-md-6")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h3 ثبت پیام جدید

                div(class='box-body')

                    form(action="/panel/support/message/addtemplatemessage/", method="post")
                        input(
                        class="form-control title",
                        name="title",
                        id="title",
                        type="text",
                        placeholder="عنوان پیام"
                        )
                        br
                        input(
                        class="form-control title",
                        name="explanation",
                        id="explanation",
                        type="text",
                        placeholder="توضیحات"
                        )
                        br
                        input(
                        class="btn btn-success",
                        type="submit",
                        value="ثبت عنوان پیام"
                        )

        div(class="col-md-6")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h3 دسته‌های اصلی

                form(role="form")

                    div(class='box-body')
                        ul(class="collection with-header", id="discount_places_list")
                            each template_message in template_messages
                                li(class="collection-item")
                                    p #{template_message.title}
                                    p #{template_message.explanation}
                                    div(class="btn btn-sm secondary-content remove_template_message_btn", template_message_id="#{template_message._id}", type="button", value="حذف") حذف

                    //table(class='table table-table-responsive content_table highlight')
                    //   tr
                    //      th عنوان
                    //      th حذف
                    //   each template_message in template_messages
                    //      tr
                    //         td #{template_message.title}
                    //         td
                    //            a(href="")
                    //         td #{message.explanation}
                    //         td #{message.date}
                    //         td #{message.time}

    div(class="row")
        div(class="col-md-12")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h3 پیام‌های ارسالی

                form(role="form")

                    div(class='box-body')
                        div(class='row')
                            div(class="col-md-12")
                                table(class='table table-table-responsive content_table highlight')
                                    tr
                                        th فرستنده
                                        th عنوان پیام
                                        th متن پیام
                                        th تاریخ ارسال
                                        th ساعت ارسال
                                    each message in messages
                                        tr
                                            td #{message.customer_phone_number}
                                            td #{message.template_message_title}
                                            td #{message.explanation}
                                            td #{message.date}
                                            td #{message.time}

                        div(class='row pagination_part')
                            ul(class="pagination")
                                - if(messages.length >= 10)

                                    - if(prev_page > 0)
                                        li
                                            a(href="/panel/support/messages/#{prev_page}/10/")
                                                span(aria-hidden="true") &laquo;
                                    - else
                                        li(class="disabled")
                                            a(href="/panel/support/messages/#{prev_page}/10/")
                                                span(aria-hidden="true") &laquo;

                                    li(class="active")
                                        a(href="#" aria-label="Previous")
                                            span #{next_page - 1}

                                    li
                                        a(href="/panel/support/messages/#{next_page}/10/" aria-label="Previous")
                                            span(aria-hidden="true") &raquo;


                                - else

                                        - if(prev_page > 0)
                                            li
                                                a(href="/panel/support/messages/#{prev_page}/10/")
                                                    span(aria-hidden="true") &laquo;
                                        - else
                                            li(class="disabled")
                                                a(href="/panel/support/messages/#{prev_page}/10/")
                                                    span(aria-hidden="true") &laquo;

                                        li(class="active")
                                            a(href="#" aria-label="Previous")
                                                span #{next_page - 1}

                                        li(class="disabled")
                                            a(href="/panel/support/messages/#{next_page}/10/")
                                                span(aria-hidden="true") &raquo;



                                        //img(src="/public/icons/next.png", class="pagination_icon")
                            //div(class='col-md-6' style='direction: ltr')
                            //    - if(prev_page > 0)
                            //        a(href='/panel/support/messages/#{prev_page}/10/')
                            //            img(src="/public/icons/prev.png", class="pagination_icon")

