extends layout
block content

    div(class="row")

        div(class="col-md-12")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 آمار کلی

                form(role="form")

                div(class='box-body')

                    div(class="row")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-yellow")
                                div(class="inner")
                                    h3(id="all_taxis")
                                    p تعداد تاکسی ها

                        div(class="col-lg-2 col-xs-6")
                            div(class="small-box bg-green")
                                div(class="inner")
                                    h3(id="online_taxis")
                                    p تاکسی‌های آنلاین


                        div(class="col-lg-2 col-xs-6")
                            div(class="small-box bg-red")
                                div(class="inner")
                                    h3(id="offline_taxis")
                                    p تاکسی‌های آفلاین

                        div(class="col-lg-2 col-xs-6")
                            div(class="small-box bg-red")
                                div(class="inner")
                                    h3(id="busy_taxis")
                                    p تاکسی‌های در سفر

                        div(class="col-lg-2 col-xs-6")
                            div(class="small-box bg-red")
                                div(class="inner")
                                    h3(id="free_taxis")
                                    p تاکسی‌های آزاد

    div(class="row")
        div(class="col-md-12")
            div(class="box box-primary")
                div(class="box-header with-border")
                    div(class="col-lg-10 col-xs-6")
                        h4 تاکسی‌های آنلاین

                    div(class="col-lg-2 col-xs-6")
                        button(class="btn btn-block btn-success" id='live-taxi-monitor-btn') نمایش زنده خودروها

                div(class='box-body')
                    div(class='container row travel-map', id='live-taxis-map')

    script(src='/javascripts/monitoring.js')