extends layout
block content
    div(class='form-container')
       div(class='row')
          div(class='panel panel-default')
             div(class='panel-heading')
                h4 نوتیفیکیشن
             div(class='panel-body')
                div

                    - if( notify !== null)

                        div(class="alert alert-success")
                            h4 شماره فعلی نوتیفیکیشن:
                            h4 #{notify.current_id}



                    br
                    form(action="/panel/support/notify/updatenotify/", class='form form-inline' method="post")
                      input(
                      class='form-control right-margin'
                      type='text'
                      required='required'
                      placeholder='شماره نوتیفی'
                      name='current_id'
                      )
                      input(
                      class='form-control right-margin'
                      type='text'
                      placeholder='لینک'
                      name='url'
                      )
                      input(
                      class='form-control right-margin'
                      type='text'
                      required='required'
                      placeholder='عنوان'
                      name='title'
                      )
                      input(
                      class='form-control right-margin'
                      type='text'
                      required='required'
                      placeholder='تیکر'
                      name='ticker'
                      )
                      input(
                      class='form-control right-margin'
                      type='text'
                      required='required'
                      placeholder='متن'
                      name='body'
                      )
                      input(
                      class='btn btn-success right-margin'
                      type='submit'
                      value='ویرایش اطلاعات'
                      )