doctype html
html
    head
        title آنتاکس
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/stylesheets/style.css')
        body(class="")
            br
            div(class="payment_success_bg")
                div(style="text-align: center")
                    img(src="/adminlte/img/logo_white.png" class="payment_logo")
                //br
                //h1 آنتاکس |
                h4(style="color: #848385; -webkit-text-fill-color: #848385; text-align: center") شارژ مستقیم حساب آنتاکس
                hr
                div(class="payment_amount_area")
                    h4(style="color: #00B408; -webkit-text-fill-color: #00B408; text-align: center") حساب آنتاکس شما با موفقیت شارژ شد.
                    hr
                    p مبلغ شارژ: #{payment.amount} تومان
                    p کد رهگیری:
                    p #{payment.ref_num}
                    p از خرید شما متشکریم
