doctype html
html
    head
        title آنتاکس
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/stylesheets/style.css')
        body(class="")
            br
            div(class="payment_confirm_bg")
                div(style="text-align: center")
                    img(src="/adminlte/img/logo_white.png" class="payment_logo")
                    //span آنتاکس
                //br
                //h1 آنتاکس | UCAB
                h4(style="color: #848385; -webkit-text-fill-color: #848385; text-align: center") شارژ مستقیم حساب آنتاکس
                hr
                div(class="payment_amount_area")
                    h4(style="color: #000000; -webkit-text-fill-color: #000000;") لطفا اطلاعات پرداخت را تایید کنید:
                    p(style="color: #086b98; -webkit-text-fill-color: #086b98;") شماره همراه کاربر: #{customer.phone_number}
                    p مبلغ شارژ: #{amount} تومان
                    p کد رهگیری خرید:
                    p #{res_num}

                form(action="https://sep.shaparak.ir/Payment.aspx", method="post" id="ismForm" name="ismForm" style="text-align: center")

                        input(
                        name="Amount"
                        type='hidden'
                        value='#{bank_amount}'
                        )

                        input(
                        value='#{mid}'
                        type='hidden'
                        name="MID"
                        )

                        input(
                        class='form-control'
                        value='#{res_num}'
                        type='hidden'
                        name="ResNum")

                        input(
                        class='form-control'
                        name="RedirectURL"
                        type='hidden'
                        value='#{callback_url}'
                        id='model'
                        )
                        br
                        input(
                        class='confirm_payment'
                        required='required'
                        type="submit"
                        value="تایید پرداخت"
                        name="submit_payment"
                        )
                        br

