doctype html
html
    head
        title آنتاکس
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/stylesheets/style.css')
        body(class="")
            br
            div(class="payment_confirm_bg")
                div(style="text-align: center")
                    img(src="/adminlte/img/logo_white.png" class="payment_logo")
                //br
                //h1 آنتاکس | UCAB
                h4(style="color: #848385; -webkit-text-fill-color: #848385; text-align: center") شارژ مستقیم حساب آنتاکس
                hr
                div(class="payment_amount_area")
                    h4(class="failure_message" style="color: #ff0727; -webkit-text-fill-color: #ff0727") خطا در پرداخت :(
                    p(style="text-align: center") خطایی در پرداخت شما رخ داده است

            //        h4 مبلغ شارژ: #{payment.amount} تومان
            //        p کد رهگیری:
            //        p #{payment.ref_num}
            //        p از خرید شما متشکریم
            //div(class="payment_success_bg")
            //    img(src="/adminlte/img/logo.png" class="img-circle login_logo")
            //    br
            //    h1 آنتاکس | UCAB
            //    h4 سفارش تاکسی آنلاین
            //    hr
            //    div(class="payment_amount_area")
            //        h1(class="failure_message" style="color: #ff0727; -webkit-text-fill-color: #ff0727") خطا در پرداخت :(
            //        h3(class="") خطایی در پرداخت شما رخ داده است
            //div
            //    //form(action="https://sep.shaparak.ir/Payment.aspx", method="post")
            //    //
            //    //    input(
            //    //    class="form-control"
            //    //    name="Amount"
            //    //    required='required'
            //    //    value='#{amount}'
            //    //    )
            //    //    input(
            //    //    class="form-control"
            //    //    name="MID"
            //    //    value='10842130'
            //    //    )
            //    //    input(
            //    //    class="form-control"
            //    //    name="ResNum"
            //    //    value='#{transaction_id}'
            //    //    )
            //    //    input(
            //    //    class="form-control right-margin"
            //    //    name="‫‪RedirectURL‬‬"
            //    //    value='http://185.105.239.20:8085/test/callbackpayment/'
            //    //    )
            //    //    input(
            //    //    class='btn btn-success right-margin'
            //    //    type='submit'
            //    //    value='تایید پرداخت'
            //    //    )
            //
            //    br
            //    br
            //    form(action="https://sep.shaparak.ir/Payment.aspx", method="post" id="ismForm" name="ismForm")
            //
            //        input(
            //        name="Amount"
            //        value='#{amount}'
            //        )
            //
            //        br
            //
            //        input(
            //        value='#{mid}'
            //        name="MID"
            //        )
            //
            //        br
            //
            //        input(
            //        class='form-control'
            //        value='#{res_num}'
            //        name="ResNum")
            //
            //        br
            //
            //        input(
            //        class='form-control'
            //        name="RedirectURL"
            //        value='#{callback_url}'
            //        id='model'
            //        )
            //
            //        input(
            //        class='form-control'
            //        required='required'
            //        type="submit"
            //        value="انتقال به درگاه پرداخت"
            //        name="submit_payment"
            //        )

