extends layout
block content
    div(class='row')

        div(class='col-md-12 travel-info')
            div(class="box box-primary")
                div(class="box-header with-border")
                    h5 اد/ویرایش محله

                form(role="form")

                div(class='box-body')
                    //div(class="col-lg-2 col-md-2 col-sm-12")
                    div(class="form-inline")
                        //form(action="/panel/support/places/add", method="post")
                        input(
                        class='form-control input_inline'
                        type='text'
                        required='required'
                        placeholder='اسم محله'
                        name='place_name'
                        id='place_name'
                        )
                        input(
                        type='number'
                        id='place_lat'
                        class='form-control input_inline right-margin'
                        required='required'
                        placeholder='لات'
                        name='place_lat'
                        )
                        input(
                        type='text'
                        id='place_lan'
                        class='form-control input_inline right-margin'
                        required='required'
                        placeholder='لان'
                        name='place_lan'
                        )
                        input(
                        type='hidden'
                        id='place_id'
                        class='form-control input_inline'
                        )
                        input(
                        id='place_register'
                        class='btn btn-success btn-sm right-margin'
                        type='button'
                        value='ثبت محله'
                        )
                        input(
                        id='place_edit'
                        class='btn btn-success btn-sm right-margin'
                        type='button'
                        value='ویرایش محله'
                        )
                        input(
                        id='place_delete'
                        class='btn btn-success btn-sm right-margin'
                        type='button'
                        value='حذف محله'
                        )



    div(class='row')

        div(class='col-md-12 travel-info')
            div(class="box box-primary")
                div(class="box-header with-border")
                    h5 نقشه

                form(role="form")

                div(class='box-body')
                    //div(class='col-md-10 col-lg-10 col-sm-12 place-map', id='add-place-map')
                    div(class='place-map', id='add-place-map')

    script(src='/javascripts/add_place.js')
    //script(src="https://maps.googleapis.com/maps/api/js?callback=myMap")