extends layout
block content
    div(class='form-container')
        table(class='table table-table-responsive content_table highlight')
            tr
                th نام محله
            each place in places
                tr
                    td #{place.place_name}