extends layout

block content

    //div(class="row")
    //    div(class="col-md-12")
    //        div(class="box box-success")
    //            div(class="box-header with-border")
    //                div(class="col-md-6")
    //                    h5 گزارش‌ عملکردی و حسابداری
    //            div(class="box-body")
    //
    //                div(class="row")
    //
    //                    div(class="col-md-3")
    //                        div(class="box box-success")
    //                            div(class="box-header with-border")
    //                                h4 اعتبار آنتاکس راننده (مجموع طلب)
    //                            div(class="box-body")
    //                                - if(income.credit < 0)
    //                                    h3 #{income.credit} تومان(بدهکار)
    //                                - else
    //                                    h3 #{income.credit} تومان(طلبکار)
    //
    //                    div(class="col-md-3")
    //                        div(class="box box-primary")
    //                            div(class="box-header with-border")
    //                                h4 درآمد امروز
    //                            div(class="box-body")
    //                                h3 #{income.today_income} تومان
    //
    //
    //                    div(class="col-md-3")
    //                        div(class="box box-danger")
    //                            div(class="box-header with-border")
    //                                h4 درآمد هفته
    //                            div(class="box-body")
    //                                h3 #{income.week_income} تومان
    //
    //                    div(class="col-md-3")
    //                        div(class="box box-warning")
    //                            div(class="box-header with-border")
    //                                h4 درآمد ماه
    //                            div(class="box-body")
    //                                h3 #{income.month_week} تومان




    div(class="row")
        div(class="col-md-12")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 تسویه حساب‌ها

                form(role="form")

                div(class='box-body')
                    table(class='table table-table-responsive content_table highlight')
                     tr
                        th تاریخ
                        th ساعت
                        th نام راننده
                        th کد راننده
                        th توضیحات
                        th مبلغ
                        th نوع تسویه حساب
                        th اطلاعات تاکسی
                        each item in ponies
                            tr
                                td #{item.readable_date}
                                td #{item.time}
                                td #{item.driver_name}
                                td #{item.taxi_code}
                                td #{item.explanation}
                                td #{item.amount} تومان
                                - if(item.pony_type == "debt")
                                    td
                                        span(class="label label-success")  دریافت طلب از رانندگان
                                - else
                                    td
                                        span(class="label label-primary")  پرداخت به رانندگان
                                td
                                    a(href='/panel/taxi/info/#{item._id}/1/10/')
                                        //img(src="/public/icons/edit.png", class="list_icon")
                                        i(class="fa fa-edit fa-2x")

    div(class='row pagination_part')
                        ul(class="pagination")
                            - if(ponies.length >= 10)


                                - if(prev_page > 0)
                                    li
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;
                                - else
                                    li(class="disabled")
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li
                                    a(href="#{path}#{next_page}/10/" aria-label="Previous")
                                        span(aria-hidden="true") &raquo;


                            - else

                                - if(prev_page > 0)
                                    li
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                - else
                                    li(class="disabled")
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li(class="disabled")
                                    a(href="#{path}#{next_page}/10/")
                                        span(aria-hidden="true") &raquo;

                    //- if(is_pagination == true)
                    //    div(class='row pagination_part')
                    //        div(class='col s7')
                    //            - if(travels.length >= 10)
                    //                a(href='#{path}#{next_page}/10/')
                    //                    img(src="/public/icons/next.png", class="pagination_icon")
                    //        div(class='col s5' style='direction: ltr')
                    //            - if(prev_page > 0)
                    //                a(href='#{path}#{prev_page}/10/')
                    //                    img(src="/public/icons/prev.png", class="pagination_icon")

