extends layout

block content

    .row
        .col-md-12
            .box.box-primary
                .box-header.with-border
                    h4 فیلتر بر اساس تاریخ :‌

                .box-body
                    form(action="/panel/report/canceledtravel", method="get")
                        .row
                            .col-md-6
                                input(
                                class="form-control start_date",
                                name="start_date",
                                id="start_date",
                                type="text",
                                placeholder="yyyy/mm/dd"
                                )
                            .col-md-6
                                input(
                                class="form-control finish_date",
                                type="text",
                                id="end_date",
                                name="end_date",
                                placeholder="yyyy/mm/dd"
                                )
                        .row(style = "padding-top : 5px")
                            .col-md-12
                                input(
                                class="btn btn-primary",
                                type="submit",
                                value="فیلتر بر اساس تاریخ"
                                )
    .row
        .col-sm-12
            .box.box-primary
                .box-header.with-border
                    h4 لیست سفر های لغو شده توسط مسافر

                .box-body
                    table.table.table-table-responsive.content_table.highlight
                        tr
                            th نام
                            th شماره تماس
                            th تعداد سفر لغو کرده
                            th بلاک
                            th بیشتر
                        for row in data
                            tr
                                td= row.customer.name
                                td= row.customer.phone_number
                                td= row.sum
                                if row.customer.is_block
                                    td
                                        a(href='/panel/customer/unblock/#{row.customer._id}/')
                                            img(src="/public/icons/free.png", class="list_icon")
                                else
                                    td
                                        a(href='/panel/customer/block/#{row.customer._id}/')
                                            img(src="/public/icons/block.png", class="list_icon")
                                td
                                    a(href='/panel/customer/info/#{row.customer._id}/1/10/')
                                        img(src="/public/icons/setting.png", class="list_icon")