extends layout
block content
    div(class="row")
        div(class="col-md-6")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 جستجو

                form(role="form")

                div(class='box-body')
                    div(class='form-container form-inline')
                        form(action="/panel/taxi/search/", method="post", class="form-inline")
                            input(class='form-control search-input' name='search_query' placeholder='چیزی برای سرچ وارد کن')
                            input(type='submit' class='btn btn-primary search-btn' value='جستجو')

                        //input(value="مشاهده‌ همه روی نقشه", type="button", class="btn btn-primary taxis-on-map-btn", id="taxis-map-show-btn")

        div(class="col-md-6")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 عملیات نقشه

                form(role="form")

                div(class='box-body')

                    select(class="form-control", id="taxis_list_filter_type")
                        option(value="online" selected="selected") تاکسی‌های آنلاین
                        option(value="offline") تاکسی‌های آفلاین
                        option(value="all") همه‌ی تاکسی‌ها

                    br

                    input(value="مشاهده‌ همه روی نقشه", type="button", class="btn btn-primary taxis-on-map-btn", id="taxis-map-show-btn")

    div(class="row")
        div(class="col-md-12")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 لیست رانند‌ه‌ها با کارکرد بالا از تاریخ #{start_date} تا تاریخ #{finish_date}

                form(role="form")

                    div(class='box-body')
                        div(class='form-container')
                            table(class='table table-table-responsive content_table highlight')
                                tr
                                    th نام کاربری
                                    th نام راننده
                                    th ماشین
                                    th تلفن
                                    th درآمد
                                    th بیشتر
                                    //th سفرها
                                    //th نظرات
                                    //th بلاکی
                                each item in taxis
                                    tr
                                        td #{item.username}
                                        td #{item.driver_name}
                                        td #{item.model}
                                        td #{item.driver_phone_number}
                                        td
                                            b #{item.income}
                                        td
                                            a(href='/panel/taxi/info/#{item._id}/1/10/')
                                                //img(src="/public/icons/edit.png", class="list_icon")
                                                i(class="fa fa-edit fa-2x")
