extends layout

block content

    div(class="row")
        div(class="col-md-6")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 گزارش راننده‌ها با بیشترین کارکرد

                form(role="form")

                div(class='box-body')
                    form(action="/panel/report/topdrivers/", method="post")
                        input(
                        class="form-control start_date",
                        name="start_date",
                        id="start_date",
                        type="text",
                        placeholder="yyyy/mm/dd"
                        )
                        br
                        input(
                        class="form-control finish_date",
                        type="text",
                        id="finish_date",
                        name="finish_date",
                        placeholder="yyyy/mm/dd"
                        )
                        br
                        input(
                        class="btn btn-primary",
                        type="submit",
                        value="گزارش بر اساس تاریخ"
                        )
