extends layout
block content
    div(class="row")

        div(class="col-md-12")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 آمار کلی

                form(role="form")

                div(class='box-body')

                    div(class="row")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-yellow")
                                div(class="inner")
                                    h3 #{stat.taxis_number}
                                    p تعداد تاکسی ها

                                div(class="icon")
                                    i(class="ion ion-model-s")

                                a(href="/panel/taxi/list/1/10/" class="small-box-footer")
                                    اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-green")
                                div(class="inner")
                                    h3 #{stat.customers_number}
                                    p تعداد کاربران

                                div(class="icon")
                                    i(class="ion ion-person-stalker")

                                a(href="/panel/customer/list/1/10/" class="small-box-footer")
                                    اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-red")
                                div(class="inner")
                                    h3 #{stat.travels_stat.travels_number}
                                    p کل سفرها

                                div(class="icon")
                                    i(class="ion ion-help-buoy")

                                a(href="/panel/travel/list/1/10/" class="small-box-footer")
                                    اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")


    div(class="row")

        div(class="col-md-12")

            div(class="box box-primary")

                div(class="box-header with-border")
                    h4 آمار مربوط به سفرها

                form(role="form")

                div(class='box-body')

                    div(class="row")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.finished_number}
                                    p سفرها تمام شده

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.taxi_canceled_number}
                                    p سفرها لغو شده از جانب تاکسی

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.taxi_not_found_number}
                                    p سفرهای تاکسی یافت نشده

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.finish_commented_number}
                                    p سفرهای تمام شده و نظر داده شده

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                    div(class="row")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.taxi_founded_number}
                                    p سفرهای در حال پرسیدن تاکسی

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.searching_number}
                                    p سفرهای در حال جستجوی تاکسی

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.travel_started_number}
                                    p سفرهای استارت خورده

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.customer_canceled_number}
                                    p سفرها لغو شده از جانب مسافر

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-aqua")
                                div(class="inner")
                                    h3 #{stat.travels_stat.support_canceled_number}
                                    p سفرها لغو شده از جانب پشتیبانی

                                div(class="icon")
                                    i(class="ion ion-plane")

                                //a(href="#" class="small-box-footer")
                                //    اطلاعات بیشتر
                                //    i(class="fa fa-arrow-circle-left")

    //div(class='col-md-12')
    //
    //        div(class='row')
    //            h4 آمار مربوط به سفرها
    //            hr
    //            div(class="col s4")
    //                div(class="card-panel")
    //                    div
    //                        b سفرها تمام شده: #{stat.travels_stat.finished_number}
    //            div(class="col s4")
    //                div(class="card-panel")
    //                    div
    //                        b سفرها لغو شده از جانب پشتیبانی: #{stat.travels_stat.support_canceled_number}
    //            div(class="col s4")
    //                div(class="card-panel")
    //                    div
    //                        b سفرها لغو شده از جانب تاکسی: #{stat.travels_stat.taxi_canceled_number}
    //
    //            div(class="col s4")
    //                div(class="card-panel")
    //                    div
    //                        b سفرهای تاکسی یافت نشده: #{stat.travels_stat.taxi_not_found_number}
    //            div(class="col s4")
    //                div(class="card-panel")
    //                    div
    //                        b سفرهای تمام شده و نظر داده شده: #{stat.travels_stat.finish_commented_number}
    //            div(class="col s4")
    //                div(class="card-panel")
    //                    div
    //                        b سفرهای در حال پرسیدن تاکسی: #{stat.travels_stat.taxi_founded_number}
    //            div(class="col s4")
    //                div(class="card-panel")
    //                    div
    //                        b سفرهای در حال جستجوی تاکسی: #{stat.travels_stat.searching_number}
    //            div(class="col s4")
    //                div(class="card-panel")
    //                    div
    //                        b سفرهای استارت خورده: #{stat.travels_stat.travel_started_number}
    //
    //            div(class="col s4")
    //                div(class="card-panel")
    //                    div
    //                        b سفرها لغو شده از جانب مسافر: #{stat.travels_stat.customer_canceled_number}
    //        div(class='row')
    //
    //        h4 آمار مالی
    //        hr
    //
    //        div(class="col s4")
    //            div(class="card-panel")
    //                div
    //                    b کل مبلغ سفرها: #{stat.travels_stat.all_cost}
    //
    //        div(class="col s4")
    //            div(class="card-panel")
    //                div
    //                    b کل مبلغ تخفیفات: #{stat.travels_stat.all_discount}