extends layout
block content
    div(class='row')

            div(class='col s6')
                div(class='card-panel')
                    form(action="/panel/restore/", method="post")
                        h5 بازنشانی داده‌های نسخه پشتیبان

                        select(class="form-control dir_list_input", name="backup_version")
                            each backup in backups
                                option(value="#{backup}") #{backup}
                        br
                        input(
                        class='btn btn-success'
                        type='submit'
                        value='بازنشانی داده'
                        )

