extends layout
block content
    div(class="row")
        div(class="col-md-6")
            div(class="box box-success")
                div(class="box-header with-border")
                    h4 تعریف نوع سرویس

                form(role="form")

                div(class='box-body')

                    form(action="/panel/support/service/add/", method="post")

                        input(
                        class='form-control'
                        type='text'
                        required='required'
                        placeholder='عنوان سرویس'
                        name='service_title'
                        )
                        br
                        input(
                        class='form-control'
                        type='number'
                        required='required'
                        placeholder='درصد کمیسیون'
                        name='commission_rate'
                        )
                        br
                        input(
                        class='form-control'
                        type='text'
                        required='required'
                        placeholder='توضیحات'
                        name='explanation'
                        )
                        br
                        input(
                        class='btn btn-success'
                        type='submit'
                        value='ثبت'
                        )
