extends layout
block content
    div(class="row")

        div(class="col-md-6")
            div(class="box box-success")
                div(class="box-header with-border")
                    h5 ویرایش سرویس

                form(role="form")

                div(class='box-body')
                    div(class='col s6')
                        form(action="/panel/support/service/edit/", method="post")

                            input(
                            class='form-control'
                            type='hidden'
                            required='required'
                            value='#{service._id}'
                            name='service_id'
                            readonly='readonly'
                            )
                            br
                            label(for='service_title') عنوان سرویس
                            input(
                            class='form-control'
                            type='text'
                            id='service_title'
                            required='required'
                            value='#{service.service_title}'
                            placeholder='عنوان سرویس'
                            name='service_title',
                            readonly='readonly'
                            )
                            br

                            label(for='commission_rate') درصد کمیسیون
                            input(
                            class='form-control'
                            type='number'
                            id='commission_rate'
                            required='required'
                            value='#{service.commission_rate}'
                            placeholder='درصد کمیسیون'
                            name='commission_rate'
                            )
                            br
                            label(for='explanation') توضیحات
                            input(
                            class='form-control'
                            type='text'
                            id='explanation'
                            required='required'
                            value='#{service.explanation}'
                            name='explanation'
                            )
                            br
                            input(
                            class='btn btn-success'
                            type='submit'
                            value='ویرایش سرویس'
                            )

