extends layout
block content
    div(class="row")
        div(class="col-md-12")
            div(class="box box-success")
                div(class="box-header with-border")
                    h4 اطلاعات

                form(role="form")

                div(class='box-body')

                    div(class='form-container')

                        table(class='table table-table-responsive content_table highlight')
                            tr
                                th عنوان سرویس
                                th درصد کمیسیون
                                th توضیحات
                                th ویرایش

                            each service in service_types
                                tr
                                    td #{service.service_title}
                                    td
                                        b #{service.commission_rate}٪
                                    td
                                        b #{service.explanation}
                                    td
                                        a(href='/panel/support/service/edit/#{service._id}/')
                                            i(class="fa fa-wrench fa-2x")

