doctype html
html
    head
        title آنتاکس

        //link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/ride.css')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")




        body
            div(class='travel-info',id='travel-page-travel-info', travel_id="#{travel_data.travel._id}", taxi_id="#{travel_data.taxi._id}", travel_state="#{travel_data.travel.state}")

            div(class="app")
                div(class="header")
                    div(class="title") #{travel_data.customer.name}
                    - if(travel_data.travel.state == 'customer_canceled')
                        span(class="label label-success") مسافر کنسل کرده
                    - if(travel_data.travel.state == 'support_canceled')
                        span(class="label label-success") پشتیبانی کنسل کرده
                    - if(travel_data.travel.state == 'taxi_refused')
                        span(class="label label-success")تاکسی رد کرده
                    - if(travel_data.travel.state == 'taxi_confirmed')
                        span(class="label label-success") تایید تاکسی (در راه رسیدن)
                    - if(travel_data.travel.state == 'travel_started')
                        span(class="label label-success") سفر شروع شده
                    - if(travel_data.travel.state == 'searching')
                        span(class="label label-success") داره میسرچه
                    - if(travel_data.travel.state == 'taxi_founded')
                        span(class="label label-success") داره از تاکسی میپرسه
                    - if(travel_data.travel.state == 'finished')
                        span(class="label label-success") سفر تمام شده
                    - if(travel_data.travel.state == 'finish_commented')
                        span(class="label label-success") سفر تمام شده و نظر داده شده
                    - if(travel_data.travel.state == 'taxi_not_found')
                        span(class="label label-success") تاکسی یافت نشده
                    - if(travel_data.travel.state == 'taxi_canceled')
                        span(class="label label-success") تاکسی کنسل کرده
                    - if(travel_data.travel.state == 'put_off_searching')
                        span(class="label label-success") در حال جستجو(پس از انصراف تاکسی)
                    - if(travel_data.travel.state == 'none')
                        span(class="label label-success")اولیه
                    //span سفر به پایان رسیده
                    small #{travel_data.travel.readable_date}
                    div(class="info-box3")
                        small مبدا
                        mark #{travel_data.travel.source_place}

                    div(class="info-box3")
                        small مقصد
                        mark #{travel_data.travel.destination_place}

                div(id="map")
                div(class="info")
                    div(class="info-box2")
                        //img(src="/icons/user.png" class="avatar")
                        img(src="/#{travel_data.taxi.driver_avatar}" class="avatar")
                        mark #{travel_data.taxi.driver_name} - #{travel_data.taxi.model} #{travel_data.taxi.color}
                        small(class="pelak-left") #{travel_data.taxi.car_code}
                        small(class="pelak-right") #{travel_data.taxi.car_code_base}
                        img(src="/icons/pelak.jpg" class="pelak")
                    div(class="info-box")

                        img(src="/icons/source.png")
                        mark #{travel_data.travel.source_place}
                        small مبدا

                    div(class="info-box")
                        img(src="/icons/destination.png")
                        mark #{travel_data.travel.destination_place}
                        small مقصد



        //script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBQnmXDGwZtg-7BfpEnz4m6kjuQDaBfet0')
        script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBF-riM1OFv5qcaR7jLFAKHnCM4o4WTU7o')
        script(src="/adminlte/js/jQuery-2.1.4.min.js")
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/gmaps.js')
        script(src='/javascripts/ride.js')

            //div(class='row container' style="background-color: #fafafa;")
            //
            //    div(class='col-sm-12 col-md-4 travel-info',id='travel-page-travel-info', travel_id="#{travel_data.travel._id}", taxi_id="#{travel_data.taxi._id}")
            //
            //        div(class="box box-primary")
            //            div(class="box-header with-border")
            //                div(class="col-md-6 col-sm-6 col-xs-6")
            //                    span تاریخ:  #{travel_data.travel.date}
            //                div(class="col-md-6 col-sm-6 col-xs-6")
            //                    span زمان: #{travel_data.travel.time}
            //
            //                hr
            //
            //
            //            div(class='box-body')
            //
            //                div(class='row', style='height: 200px', id='map')
            //
            //                hr
            //
            //                span(class="label label-primary") آدرس مبدا:  #{travel_data.travel.source_place}
            //                br
            //                span(class="label label-danger") آدرس مقصد:  #{travel_data.travel.destination_place}
            //
            //                hr
            //
            //                div(class="row" style="background-color: #2b4f69; color: white; padding: 10px;")
            //
            //                    - if(travel_data.taxi !== false)
            //
            //                        div(class='col-xs-6 col-sm-6 col-md-6 travel-taxi-info')
            //                            br
            //                            img(src="/#{travel_data.taxi.driver_avatar}", style="width: 60px; height: 60px;")
            //                            br
            //                            span  #{travel_data.taxi.driver_name}
            //
            //                        div(class='col-xs-6 col-sm-6 col-md-6 travel-taxi-info')
            //                            br
            //                            span  #{travel_data.taxi.driver_phone_number}
            //                            br
            //                            br
            //                            span #{travel_data.taxi.model} #{travel_data.taxi.color}
            //
            //

        //script.
        //
        //    var socket = io();
        //    var track_taxi_loop_counter = 1000;
        //
        //    map = new GMaps({
        //        div: '#map',
        //        lat: 0,
        //        lng: 0,
        //        zoom: 13
        //    });
        //
        //    var travel_id = $("#travel-page-travel-info").attr("travel_id");
        //
        //    $.get("/panel/async/travel", {travel_id: travel_id}, function (data, status) {
        //
        //        var destination_lat = data.travel.destination_lat;
        //        var destination_lan = data.travel.destination_lan;
        //        var source_lat = data.travel.source_lat;
        //        var source_lan = data.travel.source_lan;
        //        var customer_lat = data.travel.customer_lat;
        //        var customer_lan = data.travel.customer_lan;
        //
        //        var source_position = new google.maps.LatLng(parseFloat(source_lat), parseFloat(source_lan));
        //        var destination_position = new google.maps.LatLng(parseFloat(destination_lat), parseFloat(destination_lan));
        //
        //        map.fitLatLngBounds([source_position, destination_position]);
        //
        //        map.addMarker({
        //            lat: source_lat,
        //            lng: source_lan,
        //            title: 'مبدا',
        //            icon: '/icons/source.9.png'
        //        });
        //
        //        map.addMarker({
        //            lat: destination_lat,
        //            lng: destination_lan,
        //            title: 'مقصد',
        //            icon: '/icons/destination.9.png'
        //        });
        //
        //        map.addMarker({
        //            lat: customer_lat,
        //            lng: customer_lan,
        //            title: 'مکان فعلی فرد',
        //            icon: '/icons/customer.png'
        //        });
        //
        //        map.addMarker({
        //            lat: data.taxi.location_lat,
        //            lng: data.taxi.location_lan,
        //            title: 'تاکسی',
        //            icon: '/icons/taxi_icon_online.png'
        //        });
        //
        //        map.drawRoute({
        //            origin: [source_lat, source_lan],
        //            destination: [destination_lat, destination_lan],
        //            travelMode: 'driving',
        //            strokeColor: '#131540',
        //            strokeOpacity: 0.6,
        //            strokeWeight: 6
        //        });
        //
        //    });
        //
        //    var taxi_id = $(this).attr('taxi_id');
        //    var data = {
        //        taxi_id: taxi_id
        //    };
        //
        //    var taxi_marker = map.addMarker({
        //        lat: 32.669604,
        //        lng: 51.667983,
        //        title: 'تاکسی',
        //        icon: '/icons/taxi_icon_online.png'
        //    });
        //
        //    myLoop(data, taxi_marker);
        //
        //    function myLoop(data, taxi_marker) {
        //
        //        setTimeout(function () {
        //
        //            socket.emit('support_track_taxi', data, function (taxi_location_data) {
        //
        //                var new_position = new google.maps.LatLng(taxi_location_data.location_lat, taxi_location_data.location_lan);
        //
        //                taxi_marker.setPosition(new_position);
        //
        //            });
        //
        //            track_taxi_loop_counter++;
        //
        //            if (track_taxi_loop_counter < 500) {
        //                myLoop(data, taxi_marker);
        //            }
        //
        //        }, 5000)
        //    }
