extends layout
block content

    div(class="row")
        //div(class="col-md-9")
        //
        //    div(class="box box-primary")
        //        div(class="box-header with-border")
        //            h4 فیلتر بر اساس تاریخ
        //
        //        form(role="form")
        //
        //        div(class='box-body')
        //            form(action="/panel/report/getfinancereport/", method="post", class="form-inline")
        //                input(
        //                class="form-control start_date",
        //                name="start_date",
        //                id="start_date",
        //                type="text",
        //                placeholder="yyyy/mm/dd"
        //                )
        //                input(
        //                class="form-control right-margin finish_date",
        //                type="text",
        //                id="finish_date",
        //                name="finish_date",
        //                placeholder="yyyy/mm/dd"
        //                )
        //                input(right-margin
        //                class="btn btn-primary right-margin",
        //                type="submit",
        //                value="فیلتر بر اساس تاریخ"
        //                )
        div(class="col-md-3")
            a(href="/panel/station/turnoverlist/#{station._id}/1/10")
                button(class="btn btn-block btn-primary") لیست تراکنش‌ها
            br
            //br
            //a(href="/panel/pony/list/1/10")
            //    button(class="btn btn-block btn-success") لیست تسویه حساب‌ها


    br
    br
    div(class="row")
        div(class="col-md-12")
            div(class="box box-success")
                div(class="box-header with-border")
                    div(class="col-md-6")
                        h5 گزارش‌ کلی

                div(class="box-body")

                    div(class="row")

                        div(class="col-md-3")
                            div(class="box box-success")
                                div(class="box-header with-border")
                                    h4 کل درآمد راننده‌ها
                                div(class="box-body")
                                    h3 #{data.total_driver_income} تومان

                        div(class="col-md-3")
                            div(class="box box-primary")
                                div(class="box-header with-border")
                                    h4 طلب رانندگان(اعتبار آنان)
                                div(class="box-body")
                                    h3 #{data.total_driver_debt} تومان


                        //div(class="col-md-3")
                        //    div(class="box box-danger")
                        //        div(class="box-header with-border")
                        //            h4 جمع بدهکاری آنان(نقدی‌ها)
                        //        div(class="box-body")
                        //            h3 #{data.total_driver_debt} تومان
                        //
                        //div(class="col-md-3")
                        //    div(class="box box-warning")
                        //        div(class="box-header with-border")
                        //            h4 درآمد کل آنتاکس
                        //        div(class="box-body")
                        //            h3 #{data.total_ucab_income} تومان


    div(class="row")
        div(class="col-md-12")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 راننده‌های طلبکار و بدهکار

                form(role="form")

                div(class='box-body')
                    table(class='table table-table-responsive content_table highlight')
                        tr

                            th نام راننده
                            th کد راننده
                            th مبلغ
                            th طلب/بدهی
                            th اطلاعات تاکسی
                            each item in taxis
                                tr
                                    td #{item.driver_name}
                                    td #{item.taxi_code}
                                    td
                                        b #{item.credit} تومان
                                    - if(item.is_debt)
                                        td
                                            span(class="label label-success")  بدهکار (طلب از راننده)
                                    - else
                                        td
                                            span(class="label label-primary")  طلب‌کار (بدهکار به راننده)
                                    td
                                        a(href='/panel/taxi/info/#{item._id}/1/10/')
                                            //img(src="/public/icons/edit.png", class="list_icon")
                                            i(class="fa fa-edit fa-2x")
