extends layout
block content


    div(class="row")
        div(class="col-md-12")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 لیست آژانس‌ها

                form(role="form")

                    div(class='box-body')
                        div(class='form-container')
                            table(class='table table-table-responsive content_table highlight')
                                tr
                                    th نام کاربری
                                    th اسم آژانس
                                    th شماره تلفن
                                    th موبایل
                                    th آدرس
                                    th تاکسی ها
                                    th سفرها
                                    th تراکنش‌ها
                                    th بیشتر
                                    //th نظرات
                                    //th بلاکی
                                each station in stations
                                    tr
                                        td #{station.username}
                                        td #{station.title}
                                        td #{station.phone_number}
                                        td #{station.mobile_number}
                                        td #{station.address}
                                        td
                                            a(href='/panel/station/taxis/#{station._id}/1/10/')
                                                //img(src="/public/icons/edit.png", class="list_icon")
                                                i(class="fa fa-cab fa-2x")
                                        td
                                            a(href='/panel/station/travels/#{station._id}/1/10/')
                                                //img(src="/public/icons/edit.png", class="list_icon")
                                                i(class="fa fa-rocket fa-2x")
                                        td
                                            a(href='/panel/station/turnoverlist/#{station._id}/1/10/')
                                                //img(src="/public/icons/edit.png", class="list_icon")
                                                i(class="fa fa-edit fa-2x")

                                        td
                                            a(href='/panel/station/#{station._id}/')
                                                //img(src="/public/icons/edit.png", class="list_icon")
                                                i(class="fa fa-edit fa-2x")

                                        //td
                                        //   a(href='/panel/taxi/travels/#{item._id}/1/10/')
                                        //      //img(src="/public/icons/list.png", class="list_icon")
                                        //      i(class="fa fa-list fa-2x")
                                        //
                                        //td
                                        //   a(href='/panel/taxi/comments/#{item._id}/1/10/')
                                        //      //img(src="/public/icons/list.png", class="list_icon")
                                        //      i(class="fa fa-list fa-2x")
                                        //
                                        //td
                                        //   - if(item.is_block == false)
                                        //      a(href='/panel/taxi/block/#{item._id}')
                                        //         img(src="/public/icons/block.png", class="list_icon")
                                        //
                                        //   - if(item.is_block == true)
                                        //      a(href='/panel/taxi/unblock/#{item._id}')
                                        //         img(src="/public/icons/ok.png", class="list_icon")

                            div(class='row pagination_part')
                                ul(class="pagination")
                                    - if(stations.length >= 10)


                                        - if(prev_page > 0)
                                            li
                                                a(href="/panel/station/list/#{prev_page}/10/")
                                                    span(aria-hidden="true") &laquo;
                                        - else
                                            li(class="disabled")
                                                a(href="/panel/station/list/#{prev_page}/10/")
                                                    span(aria-hidden="true") &laquo;

                                        li(class="active")
                                            a(href="#" aria-label="Previous")
                                                span #{next_page - 1}

                                        li
                                            a(href="/panel/station/list/#{next_page}/10/" aria-label="Previous")
                                                span(aria-hidden="true") &raquo;


                                    - else

                                        - if(prev_page > 0)
                                            li
                                                a(href="/panel/station/list/#{prev_page}/10/")
                                                    span(aria-hidden="true") &laquo;

                                        - else
                                            li(class="disabled")
                                                a(href="/panel/station/list/#{prev_page}/10/")
                                                    span(aria-hidden="true") &laquo;

                                        li(class="active")
                                            a(href="#" aria-label="Previous")
                                                span #{next_page - 1}

                                        li(class="disabled")
                                            a(href="/panel/station/list/#{next_page}/10/")
                                                span(aria-hidden="true") &raquo;
