extends layout
block content
  div(class="row")
    div(class="col-md-6")
      div(class="box box-success")
        div(class="box-header with-border")
          h4 تعریف آژانس

        form(role="form")

        div(class='box-body')

          form(action="/register/user/", method="post", enctype="multipart/form-data")

            input(
            class='form-control'
            type='text'
            required='required'
            placeholder='نام کاربری'
            name='username'
            )
            br
            input(
            class='form-control'
            type='text'
            required='required'
            placeholder='رمز عبور'
            name='password'
            )
            br
            input(
            class='form-control'
            type='text'
            required='required'
            placeholder='عنوان'
            name='title'
            )
            br
            input(
            class='form-control'
            type='number'
            required='required'
            placeholder='شماره تماس'
            name='phone_number'
            )
            br
            input(
            class='form-control'
            type='number'
            required='required'
            placeholder='تلفن همراه آژانس'
            name='mobile_number'
            )
            br
            input(
            class='form-control'
            type='text'
            required='required'
            placeholder='آدرس'
            name='address'
            )
            br
            input(
            type='text'
            class='form-control'
            required='required'
            placeholder='لان جغرافیایی'
            name='location_lan'
            id='location_lan'
            )
            br
            input(
            type='text'
            class='form-control'
            required='required'
            placeholder='لات جغرافیایی'
            name='location_lat'
            id='location_lat'
            )
            br
            input(
            class='form-control'
            required='required'
            type='hidden'
            name='account_type'
            value='station'
            )
            br
            input(
            class='btn btn-success'
            type='submit'
            value='ثبت آژانس'
            )

    div(class="col-md-6")
        div(class="box box-success")
            div(class="box-header with-border")
                div(class="col-md-6")
                    h4 مشخص کردن روی نقشه

                div(class="col-md-6")
                    button(
                    class="btn btn-primary",
                    id="add-station-show-map-btn"
                    ) انتخاب روی نقشه

            form(role="form")

            div(class='box-body')

                div(class='add-station-map', id='add-station-map')



