extends station/layout
block content
    extends station/layout
    block content
        div(class="row")

            div(class="col-md-12")

                div(class="box box-primary")
                    div(class="box-header with-border")
                        h4 شماره تلفن‌‌های پشتیبانی

                    form(role="form")

                    div(class='box-body')

                        div

                            - if(support_phone !== null)

                                div(class="card-panel")
                                    h5 شماره پشتیبانی رانندگان
                                    h5 #{support_phone.driver_support}
                                    h5 شماره پشتیبانی مسافران
                                    h5 #{support_phone.passenger_support}





        div(class="row")

            div(class="col-md-12")

                div(class="box box-primary")
                    div(class="box-header with-border")
                        h4 بروز‌رسانی نسخه‌ی مد نظر

                    form(role="form")

                    div(class='box-body')
                        form(action="/panel/support/updatesupportphone/", class='form form-inline' method="post")
                            input(
                            class='form-control right-margin'
                            type='text'
                            required='required'
                            placeholder='شماره پشتیبانی رانندگان'
                            name='driver_support'
                            )
                            input(
                            class='form-control right-margin'
                            type='text'
                            required='required'
                            placeholder='شماره پشتیبانی مسافران'
                            name='passenger_support'
                            )

                            input(
                            class='btn btn-success right-margin'
                            type='submit'
                            value='ویرایش اطلاعات'
                            )
