extends layout

block content
  div
    a(href='/panel/support/messages/1/10/')
      input(
      class='btn btn-primary'
      value='پیامهای کاربران'
      type='button'
      )
    br
    br
    a(href='/panel/support/places/1/10')
      input(
      class='btn btn-primary'
      value='لیست محله ها'
      type='button'
      )
    br
    br
    a(href='/panel/support/places/add/')
      input(
      class='btn btn-primary'
      value='اضافه کردن محله'
      type='button'
      )
    br
    br
    a(href='/panel/support/factors/list/1/10')
        input(
        class='btn btn-primary'
        value='لیست کرایه ها'
        type='button'
        )
    br
    br
    a(href='/panel/support/factors/add/')
        input(
        class='btn btn-primary'
        value='اضافه کردن کرایه ها'
        type='button'
        )
    br
    br
    a(href='/panel/support/version/updateversion/')
      input(
      class='btn btn-primary'
      value='مدیریت ورژن برنامه'
      type='button'
      )
