extends layout
block content
    div(class='form-container')
        div(class='row')
            div(class='card-panel')
                    h5 وضعیت نسخه‌ی رهسغر
                    br
                    div

                        - if(active_data !== null)

                            div(class="card-panel")
                                h5 وضعیت فعلی نرم افزار:
                                - if(active_data.is_active == 0)
                                    h5 غیر فعال
                                - if(active_data.is_active == 1)
                                    h5 فعال

                            div(class="card-panel")
                                h5 متن :
                                h5 #{active_data.message}

                            br
                        form(action="/panel/support/activate/updatesystemactive/", class='form form-inline' method="post")
                            input(
                            class='input-field'
                            type='text'
                            required='required'
                            placeholder='متن پیام'
                            name='message'
                            )
                            select(class="form-control", name="is_active", id="is_active")
                                option(value="none" selected="selected") فعالی؟
                                option(value="1") فعال
                                option(value="0") غیر فعال
                            br
                            br
                            input(
                            class='btn btn-success'
                            type='submit'
                            value='ویرایش اطلاعات'
                            )