extends layout
block content

    div(class='row')
        div(class='form-container')
            table(class='table table-table-responsive content_table highlight')
                tr
                    th متن نظر
                    th ستاره
                    th تاریخ
                    th زمان
                    th حذف
                each comment in comments
                    tr
                        td
                            each comment_text in comment.comments_text
                                p #{comment_text.text}
                        td #{comment.star}
                        td #{comment.date}
                        td #{comment.time}
                        td
                            a(href="/panel/comment/remove/#{comment._id}/")
                                img(src="/public/icons/minus.png", class="list_icon")

    div(class='row pagination_part')
        div(class='col s6')
            - if(comments.length >= 10)
                a(href='/panel/taxi/comments/#{comments[0].taxi_id}/#{next_page}/10/')
                    img(src="/public/icons/next.png", class="pagination_icon")
        div(class='col s6' style='direction: ltr')
            - if(prev_page > 0)
                a(href='/panel/taxi/comments/#{comments[0].taxi_id}/#{prev_page}/10/')
                    img(src="/public/icons/prev.png", class="pagination_icon")