extends layout

block content
  div
    a(href='/panel/taxi/add/')
      input(
      class='btn btn-primary'
      value='اضافه کردن تاکسی'
      type='button'
      )

    br
    br

    a(href='/panel/taxi/list/1/10')
      input(
      class='btn btn-primary'
      type='button'
      value='لیست تاکسی‌ها'
      )

