extends layout
block content
    div(class="row")
        div(class="col-md-12")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 آمار راننده از تاریخ #{start_date} تا #{finish_date}

                form(role="form")

                div(class='box-body')

                    h4 آمار کلی سفرها

                    div(class="row")


                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-yellow")
                                div(class="inner")
                                    h3 #{result.refused_travels_number}
                                    p سفرهای رد کرده

                                div(class="icon")
                                    i(class="ion ion-model-s")

                                a(href="/panel/taxi/travels/refused?taxi_id=#{taxi._id}&start_date=#{start_date}&finish_date=#{finish_date}" class="small-box-footer")
                                    p لیست سفرها
                                    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-green")
                                div(class="inner")
                                    h3 #{result.stand_by_travels_number}
                                    p سفرهای انتظار مانده

                                div(class="icon")
                                    i(class="ion ion-person-stalker")

                                a(href="/panel/taxi/travels/standby?taxi_id=#{taxi._id}&start_date=#{start_date}&finish_date=#{finish_date}" class="small-box-footer")
                                    p لیست سفرها
                                    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-red")
                                div(class="inner")
                                    h3 #{result.taxi_travels_number}
                                    p کل سفرها

                                div(class="icon")
                                    i(class="ion ion-help-buoy")

                                a(href="/panel/travel/list/1/10/" class="small-box-footer")
                                    p اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

                    hr

                    h4 انواع سفرها

                    div(class="row")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-red")
                                div(class="inner")
                                    h3 #{result.travels_stat.customer_canceled_number}
                                    p سفرهایی که مسافر کنسل کرده است

                                div(class="icon")
                                    i(class="ion ion-help-buoy")

                                a(href="/panel/travel/list/1/10/" class="small-box-footer")
                                    p اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-yellow")
                                div(class="inner")
                                    h3 #{result.travels_stat.support_canceled_number}
                                    p سفرهای کنسل شده توسط پشتیبانی

                                div(class="icon")
                                    i(class="ion ion-model-s")

                                a(href="/panel/taxi/list/1/10/" class="small-box-footer")
                                    p اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-green")
                                div(class="inner")
                                    h3 #{result.travels_stat.travel_started_number}
                                    p سفرهای شروع شده

                                div(class="icon")
                                    i(class="ion ion-person-stalker")

                                a(href="/panel/customer/list/1/10/" class="small-box-footer")
                                    p اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-red")
                                div(class="inner")
                                    h3 #{result.travels_stat.finished_number}
                                    p سفرهای تمام شده

                                div(class="icon")
                                    i(class="ion ion-help-buoy")

                                a(href="/panel/travel/list/1/10/" class="small-box-footer")
                                    p اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")


                    div(class="row")



                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-red")
                                div(class="inner")
                                    h3 #{result.travels_stat.finish_commented_number}
                                    p سفرهای نظرداده شده و تمام شده

                                div(class="icon")
                                    i(class="ion ion-help-buoy")

                                a(href="/panel/travel/list/1/10/" class="small-box-footer")
                                    p اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-yellow")
                                div(class="inner")
                                    h3 #{result.travels_stat.taxi_canceled_number}
                                    p سفرهای کنشل شده توسط تاکسی

                                div(class="icon")
                                    i(class="ion ion-model-s")

                                a(href="/panel/taxi/list/1/10/" class="small-box-footer")
                                    p اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

                    hr
                    h4 اطلاعات مالی
                    div(class="row")



                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-green")
                                div(class="inner")
                                    h3 #{result.travels_stat.all_cost}
                                    p جمع مبلع سفرها

                                div(class="icon")
                                    i(class="ion ion-person-stalker")

                                a(href="/panel/customer/list/1/10/" class="small-box-footer")
                                    p اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")

                        div(class="col-lg-3 col-xs-6")
                            div(class="small-box bg-red")
                                div(class="inner")
                                    h3 #{result.travels_stat.all_discount}
                                    p مجموع تخفیف‌ها

                                div(class="icon")
                                    i(class="ion ion-help-buoy")

                                a(href="/panel/travel/list/1/10/" class="small-box-footer")
                                    p اطلاعات بیشتر
                                    i(class="fa fa-arrow-circle-left")


    div(class="row")
        div(class="col-md-6")
                div(class="box box-success")
                    div(class="box-header with-border")
                        h4 اطلاعات راننده

                    form(role="form")

                    div(class='box-body')
                        td
                            - if(taxi.avatar == "")
                                img(class="driver_avatar", src="/public/adminlte/img/logo.png")
                            - else
                                img(class="driver_avatar", src="/#{taxi.avatar}")

                        h5 کد تاکسی:  #{taxi.taxi_code}
                        h5 نام کاربری: #{taxi.username}
                        h5 نام راننده: #{taxi.driver_name} #{taxi.color}
                        h5 مدل و رنگ تاکسی: #{taxi.model} #{taxi.color}
                        h5 شماره تلفن راننده: #{taxi.driver_phone_number}
                        h5 شماره پلاک: #{taxi.car_code}
                        h5 وضعیت: #{taxi.is_online}
                        h5 آزادی: #{taxi.status}

                        a(href="/panel/taxi/edit/#{taxi._id}")
                            input(class="btn btn-primary" value="ویرایش اطلاعات")

        div(class="col-md-6")
            div(class='row')
                div(class="col-md-12")
                    div(class="row")
                        - if(taxi.state == "busy")
                            div(class="col-md-6")
                                div(class="box box-success")
                                    div(class="box-header with-border")
                                        h5 آزاد کردن تاکسی
                                        h5 دقت کنید که تاکسی در حال انجام سفر نباشد و به اشتباه در حالت مشغول است

                                    form(role="form")

                                    div(class='box-body')

                                        form(action="/panel/taxi/setfree/", method="post")

                                            input(
                                            class='input-field'
                                            type='hidden'
                                            required='required'
                                            value='#{taxi._id}'
                                            placeholder='آیدی تاکسی'
                                            name='taxi_id'
                                            readonly='readonly'
                                            )
                                            br
                                            input(
                                            class='btn btn-success'
                                            type='submit'
                                            value='آزاد کردن تاکسی'
                                            )
                        div(class="col-md-6")
                            div(class="box box-success")
                                div(class="box-header with-border")
                                    h4 وضعیت بلاک بودن
                                    - if(taxi.is_block == false)
                                        h5 وضعیت &nbsp;
                                            span(class="label label-success")  فعال است

                                    - if(taxi.is_block == true)
                                        h5 وضعیت &nbsp;
                                            span(class="label label-danger")  بلاک شده است


                                form(role="form")

                                div(class='box-body')

                                    - if(taxi.is_block == false)

                                        a(href='/panel/taxi/block/#{taxi._id}')
                                            input(class="btn btn-sm btn-danger" value="بلاک کردن تاکسی")

                                    - if(taxi.is_block == true)

                                        a(href='/panel/taxi/unblock/#{taxi._id}')
                                            input(class="btn btn-sm btn-primary" value="آزاد سازی تاکسی")

    div(class="row")
        div(class="col-md-12")
            div(class="box box-success")
                div(class="box-header with-border")
                    h5 آمار آنلاین بودن تاکسی

                    input(
                    id="taxi_id"
                    type="hidden"
                    value="#{taxi._id}"
                    )

                    button(
                    class="btn btn-success",
                    id="show_taxi_online_stat"
                    ) نمایش آمار

                form(role="form")

                div(class='box-body')
                    select(class="form-control taxi_stat_date", name="taxi_stat_date", id="taxi_stat_date")
                        each date in taxi_stat.online_dates
                            option(value="#{date}") #{date}

                    div(id="bar-chart" style="height: 300px;" class="full-width-chart")
