extends layout

block content

    div(class='row')

        div(class='col-sm-12 col-md-4 travel-info',id='travel-page-travel-info', travel_id="#{travel_data.travel._id}", taxi_id="#{travel_data.taxi._id}")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 تغییر هزینه‌ی سفر

                form(role="form")

                div(class='box-body')

                    div(class='form-container form-inline')

                        form(action="/panel/travel/cost/set/", method="post", enctype="multipart/form-data")

                            - if(travel_data.travel.is_active == 1)
                                input(
                                class="form-control right-margin"
                                name="travel_cost"
                                required='required'
                                value='#{travel_data.travel.cost}'
                                )
                            - if(travel_data.travel.is_active == 0)

                                input(
                                class="form-control right-margin"
                                name="travel_cost"
                                readonly="readonly"
                                required='required'
                                value='#{travel_data.travel.cost}'
                                )
                            input(
                            class="form-control right-margin"
                            name="travel_id"
                            required='required'
                            value='#{travel_data.travel._id}'
                            readonly='readonly'
                            type="hidden"
                            )
                            br
                            br

                            - if(travel_data.travel.is_active == 1)
                                input(
                                class='btn btn-success right-margin'
                                type='submit'
                                value='تغییر هزینه‌ی سفر'
                                )
                            - if(travel_data.travel.is_active == 0)

                                input(
                                class='btn btn-success right-margin'
                                type='submit'
                                disabled='disabled'
                                value='تغییر هزینه‌ی سفر'
                                )

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 اطلاعات سفر
                form(role="form")

                div(class='box-body')

                    dl
                        dt  کد سفر
                            dd
                                span(class="label label-primary") #{travel_data.travel.travel_code}
                        dt  تاریخ سفر
                        dd
                            span(class="label label-success") #{travel_data.travel.readable_date} ساعت #{travel_data.travel.time}

                        dt  آدرس مبدا
                            dd
                                span(class="label label-primary") #{travel_data.travel.source_place}

                        dt  آدرس مقصد
                            dd
                                span(class="label label-danger") #{travel_data.travel.destination_place}

                        dt  آدرس مقصد دوم
                            dd
                                - if(travel_data.travel.second_destination_place !== "")
                                    span(class="label label-primary") #{travel_data.travel.second_destination_place}

                                - else
                                    span(class="label label-danger") بدون مقصد دوم

                        dt  میزان توقف در مسیر
                            dd
                                - if(travel_data.travel.stop_time_value !== 0)
                                    span(class="label label-danger") #{travel_data.travel.stop_time}
                                - else
                                    span(class="label label-danger") بدون توقف

                        dt  رفت و برگشتی:
                            dd
                                - if(travel_data.travel.is_two_way)
                                    span(class="label label-danger") رفت و برگشت
                                - else
                                    span(class="label label-danger") یکطرفه
                        dt  نوع سرویس

                            - if(travel_data.travel.service_type == "normal")
                                dd
                                    span(class="label label-success") اقتصادی
                            - else if(travel_data.travel.service_type == "lady")
                                dd
                                    span(class="label label-default") بانوان
                            - else if(travel_data.travel.service_type == "vip")
                                dd
                                    span(class="label label-default") لوکس
                        dt  هزینه سفر
                        dd
                            span(class="label label-success") #{travel_data.travel.cost} &nbsp; تومان

                        dt  نوع پرداخت

                            - if(travel_data.travel.payment_type == "wallet")
                                dd
                                    span(class="label label-success") اعتباری
                            - if(travel_data.travel.payment_type == "cash")
                                dd
                                    span(class="label label-default") نقدی

                        dt  وضعیت پرداخت

                            - if(travel_data.travel.is_paid == true || travel_data.travel.state == 'finish_commented' || travel_data.travel.state == 'finished')
                                dd
                                    span(class="label label-success") پرداخت شده
                            - else
                                dd
                                    span(class="label label-default") پرداخت نشده

                        dt  وضعیت فعال بودن سفر

                            - if(travel_data.travel.is_active == true)
                                dd
                                    span(class="label label-success") فعال
                            - if(travel_data.travel.is_active == false)
                                dd
                                    span(class="label label-default") غیر فعال

                        dt  وضعیت سفر
                        dd
                            - if(travel_data.travel.state == 'customer_canceled')
                                span(class="label label-success") مسافر کنسل کرده
                            - if(travel_data.travel.state == 'support_canceled')
                                span(class="label label-success") پشتیبانی کنسل کرده
                            - if(travel_data.travel.state == 'taxi_refused')
                                span(class="label label-success")تاکسی رد کرده
                            - if(travel_data.travel.state == 'taxi_confirmed')
                                span(class="label label-success") تایید تاکسی (در راه رسیدن)
                            - if(travel_data.travel.state == 'travel_started')
                                span(class="label label-success") سفر شروع شده
                            - if(travel_data.travel.state == 'searching')
                                span(class="label label-success") داره میسرچه
                            - if(travel_data.travel.state == 'taxi_founded')
                                span(class="label label-success") داره از تاکسی میپرسه
                            - if(travel_data.travel.state == 'finished')
                                span(class="label label-success") سفر تمام شده
                            - if(travel_data.travel.state == 'finish_commented')
                                span(class="label label-success") سفر تمام شده و نظر داده شده
                            - if(travel_data.travel.state == 'taxi_not_found')
                                span(class="label label-success") تاکسی یافت نشده
                            - if(travel_data.travel.state == 'taxi_canceled')
                                span(class="label label-success") تاکسی کنسل کرده
                            - if(travel_data.travel.state == 'put_off_searching')
                                span(class="label label-success") در حال جستجو(پس از انصراف تاکسی)
                            - if(travel_data.travel.state == 'none')
                                span(class="label label-success")اولیه
                        dt  کد تخفیف
                        dd
                            div(class="callout callout-info")
                                - if(travel_data.travel.discount_code == "")
                                    p کد تخفیف نداشته است
                                - if(travel_data.travel.discount_code !== "")
                                    h4 کد تخفیف:&nbsp; #{travel_data.travel.discount_code}

                                    p میزان تخفیف اعمال شده:&nbsp; #{travel_data.travel.discount_amount} تومان

                                    p مبلغ پرداختی توسط مسافر:&nbsp; #{travel_data.travel.cost - travel_data.travel.discount_amount} تومان

        - if(travel_data.taxi !== false)
            div(class='col-sm-12 col-md-4 travel-taxi-info')
                div(class="box box-primary")
                    div(class="box-header with-border")
                        h4 اطلاعات راننده

                    form(role="form")

                    div(class='box-body')
                        div(class="card-content")
                            div(class='travel_page_list_group')
                            img(src="/#{travel_data.taxi.driver_avatar}", class="driver_avatar")
                            br
                            br
                            p کد تاکسی:  #{travel_data.taxi.taxi_code}
                            br
                            br
                            p نام کاربری:  #{travel_data.taxi.username}

                            br
                            br
                            p نام و نام خانوادگی:  #{travel_data.taxi.driver_name}
                            br
                            br
                            p شماره تماس:  #{travel_data.taxi.driver_phone_number}
                            br
                            br
                            p مدل و رنگ ماشین:  #{travel_data.taxi.model} #{travel_data.taxi.color}
                            br
                            br
                            p سال تولید:  #{travel_data.taxi.year}
                            br
                            br
                            p آژانس مربوطه: #{travel_data.taxi.station_title}
                            br
                            br
                            - if(travel_data.taxi.is_online == true)
                                p تاکسی آنلاین است
                            - if(travel_data.taxi.is_online == false)
                                p تاکسی آفلاین است
                            br
                            br
                            - if(travel_data.taxi.state == "free")
                                p تاکسی آزاد است
                            - if(travel_data.taxi.state == "busy")
                                p تاکسی مشغول سفر است
                            - if(travel_data.taxi.state == "stand_by")
                                p تاکسی در حال جواب دادن به سفر است
                    div(class='box-footer')
                        a(href='/panel/taxi/info/#{travel_data.taxi._id}/1/10/')

                            input(class='btn btn-block btn-success',type='button', value='اطلاعات بیشتر تاکسی')



        div(class='col-sm-12 col-md-4 travel-customer-info')
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 اطلاعات مسافر

                form(role="form")

                div(class='box-body')
                    div(class='travel_page_list_group')
                    br
                    p نام: #{travel_data.customer.name}
                    br
                    p شماره تماس: #{travel_data.customer.phone_number}
                    br
                    p آدرس: #{travel_data.customer.address}
                    br
                    p ایمیل: #{travel_data.customer.email}

                div(class='box-footer')
                    a(href='/panel/customer/info/#{travel_data.customer._id}/1/10/')

                        input(class='btn btn-block btn-warning',type='button', value='اطلاعات بیشتر مسافر')



            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 نظر مسافر

                    form(role="form")

                div(class='box-body')
                    - if(travel_data.travel.state !== "finish_commented")
                        p نظری نیست هنوز
                    - else
                        p ستاره:  #{travel_data.travel.travel_rate}
                        div(class='card-panel')

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 عملیات نقشه

                div(class='box-body')
                    input(id="travel-map-show-btn", value='نمایش روی نقشه', travel_id="#{travel_data.travel._id}", class="btn btn-block btn-success", type="button")
                    br
                    br
                div(class='box-footer')

                    input(class='btn btn-danger support_taxi_track_btn',type='button', taxi_id='#{travel_data.taxi._id}', value='ردیابی تاکسی')

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 عملیات سفر

                div(class='box-body')
                    - if(travel_data.travel.state == 'customer_confirmed')
                        input(class='btn btn-sm btn-danger support_confirm_btn',type='button', value='تایید سفر')
                        br
                        br
                    - if(travel_data.travel.state == 'customer_confirmed' || travel_data.travel.state == 'taxi_confirmed' || travel_data.travel.state == 'travel_started' || travel_data.travel.state == 'taxi_founded')
                        input(class='btn btn-sm btn-danger support_cancel_btn', id="support_cancel_btn",type='button', value='لغو سفر')
                        br
                        br
                    - if(travel_data.travel.is_active && travel_data.travel.state !== 'customer_confirmed')
                        input(class='btn btn-sm btn-danger support_finish_btn',type='button', value='پایان سفر')
                        br
                        br
            //    div(class='box-footer')
            //
            //        input(class='btn btn-danger support_taxi_track_btn',type='button', taxi_id='#{travel_data.taxi._id}', value='ردیابی تاکسی')
            //
            //
            //input(class='btn btn-block btn-danger support_taxi_track_btn',type='button', taxi_id='#{travel_data.taxi._id}', value='ردیابی تاکسی')
            //
            //div(class='row')
            //    - if(travel_data.travel.state == 'customer_confirmed')
            //        input(class='btn btn-sm btn-danger support_confirm_btn',type='button', value='تایید سفر')
            //        br
            //        br
            //    - if(travel_data.travel.state == 'customer_confirmed' || travel_data.travel.state == 'taxi_confirmed' || travel_data.travel.state == 'travel_started' || travel_data.travel.state == 'taxi_founded')
            //        input(class='btn btn-sm btn-danger support_cancel_btn',type='button', value='لغو سفر')
            //        br
            //        br
            //    - if(travel_data.travel.is_active && travel_data.travel.state !== 'customer_confirmed')
            //        input(class='btn btn-sm btn-danger support_finish_btn',type='button', value='پایان سفر')
            //        br
            //        br
            //    input(id="travel-map-show-btn", value='نمایش روی نقشه', travel_id="#{travel_data.travel._id}", class="btn btn-success", type="button")
            //    br
            //    br
            //    input(class='btn btn-danger support_taxi_track_btn',type='button', taxi_id='#{travel_data.taxi._id}', value='ردیابی تاکسی')

        div(class='row travel-map', id='map')


