extends layout

block content

    div(class="row")
        div(class="col-md-12")
            div(class="box box-success")
                div(class="box-header with-border")
                    div(class="col-md-6")
                        h5 گزارش‌ عملکردی و حسابداری
                        h4 #{taxi.driver_name} کد #{taxi.taxi_code}
                div(class="box-body")

                    div(class="row")

                        div(class="col-md-3")
                            div(class="box box-success")
                                div(class="box-header with-border")
                                    h4 اعتبار آنتاکس راننده (مجموع طلب)
                                div(class="box-body")
                                    - if(income.credit < 0)
                                        h3 #{income.credit} تومان(بدهکار)
                                    - else
                                        h3 #{income.credit} تومان(طلبکار)

                        div(class="col-md-3")
                            div(class="box box-primary")
                                div(class="box-header with-border")
                                    h4 درآمد امروز
                                div(class="box-body")
                                    h3 #{income.today_income} تومان


                        div(class="col-md-3")
                            div(class="box box-danger")
                                div(class="box-header with-border")
                                    h4 درآمد هفته
                                div(class="box-body")
                                    h3 #{income.week_income} تومان

                        div(class="col-md-3")
                            div(class="box box-warning")
                                div(class="box-header with-border")
                                    h4 درآمد ماه
                                div(class="box-body")
                                    h3 #{income.month_week} تومان

    div(class="row")
        div(class="col-md-12")
            div(class="box box-success")
                div(class="box-header with-border")
                    div(class="col-md-6")
                        h5 تسویه حساب با راننده
                div(class="box-body")

                    div(class="row")

                        div(class="col-md-6")
                            form(action="/panel/taxi/pony/createpony/", class='form form-inline' method="post")

                                input(
                                class='form-control right-margin'
                                type='hidden'
                                required='required'
                                value='#{taxi._id}'
                                name='taxi_id'
                                )

                                input(
                                class='form-control right-margin'
                                type='number'
                                min=0
                                required='required'
                                placeholder='مبلغ '
                                name='amount'
                                )

                                select(class="form-control right-margin", name="pony_type")
                                    option(value="none" selected="selected") نوع تسویه
                                    option(value="debt") دریافت طلب از راننده
                                    option(value="credit") پرداخت    به راننده
                                br
                                br
                                textarea(
                                class='form-control right-margin'
                                type='text'
                                required='required'
                                placeholder='توضیحات'
                                name='explanation'
                                )
                                input(
                                class='btn btn-success right-margin'
                                type='submit'
                                value='تسویه انجام گرفت'
                                )
                        div(class="col-md-6")
                            a(href="/panel/taxi/ponylist/#{taxi._id}/1/10")
                                button(class="btn btn-block btn-primary") لیست تسویه حسابها





    div(class="row")
        div(class="col-md-12")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 گردش مالی

                form(role="form")

                div(class='box-body')
                    table(class='table table-table-responsive content_table highlight')
                     tr
                        th تاریخ
                        th ساعت
                        th توضیحات
                        th مبلغ
                        th نوع
                        each item in turn_overs
                            tr
                                td #{item.readable_date}
                                td #{item.time}
                                td #{item.explanation}
                                td #{item.amount} تومان
                                - if(item.turnover_type == "debtor")
                                    td
                                        span(class="label label-danger")  کاهش اعتبار
                                - if(item.turnover_type == "creditor")
                                    td
                                        span(class="label label-success")  افزایش اعتبار
                                - if(item.turnover_type == "income")
                                    td
                                        span(class="label label-primary")  درآمد کلی


    div(class='row pagination_part')
                        ul(class="pagination")
                            - if(turn_overs.length >= 10)


                                - if(prev_page > 0)
                                    li
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;
                                - else
                                    li(class="disabled")
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li
                                    a(href="#{path}#{next_page}/10/" aria-label="Previous")
                                        span(aria-hidden="true") &raquo;


                            - else

                                - if(prev_page > 0)
                                    li
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                - else
                                    li(class="disabled")
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li(class="disabled")
                                    a(href="#{path}#{next_page}/10/")
                                        span(aria-hidden="true") &raquo;

                    //- if(is_pagination == true)
                    //    div(class='row pagination_part')
                    //        div(class='col s7')
                    //            - if(travels.length >= 10)
                    //                a(href='#{path}#{next_page}/10/')
                    //                    img(src="/public/icons/next.png", class="pagination_icon")
                    //        div(class='col s5' style='direction: ltr')
                    //            - if(prev_page > 0)
                    //                a(href='#{path}#{prev_page}/10/')
                    //                    img(src="/public/icons/prev.png", class="pagination_icon")

