extends layout

block content


    div(class="row")
        div(class="col-md-12")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 تراکنش‌های گردش مالی

                form(role="form")

                div(class='box-body')
                    table(class='table table-table-responsive content_table highlight')
                     tr
                        th تاریخ
                        th ساعت
                        th راننده
                        th کد تاکسی
                        th مبلغ
                        th توضیحات
                        th اطلاعات راننده
                     each item in turn_overs
                        tr
                           td #{item.readable_date}
                           td #{item.time}
                           td #{item.driver_name}
                           td #{item.taxi_code}
                           td
                                b #{item.amount} تومان
                           td
                               span(class="label label-primary") #{item.explanation}
                           td
                               a(href='/panel/taxi/info/#{item.taxi_id}/1/10/')
                                   //img(src="/public/icons/edit.png", class="list_icon")
                                   i(class="fa fa-car fa-2x")

                    div(class='row pagination_part')
                        ul(class="pagination")
                            - if(turn_overs.length >= 10)


                                - if(prev_page > 0)
                                    li
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;
                                - else
                                    li(class="disabled")
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li
                                    a(href="#{path}#{next_page}/10/" aria-label="Previous")
                                        span(aria-hidden="true") &raquo;


                            - else

                                - if(prev_page > 0)
                                    li
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                - else
                                    li(class="disabled")
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li(class="disabled")
                                    a(href="#{path}#{next_page}/10/")
                                        span(aria-hidden="true") &raquo;

                    //- if(is_pagination == true)
                    //    div(class='row pagination_part')
                    //        div(class='col s7')
                    //            - if(travels.length >= 10)
                    //                a(href='#{path}#{next_page}/10/')
                    //                    img(src="/public/icons/next.png", class="pagination_icon")
                    //        div(class='col s5' style='direction: ltr')
                    //            - if(prev_page > 0)
                    //                a(href='#{path}#{prev_page}/10/')
                    //                    img(src="/public/icons/prev.png", class="pagination_icon")

