extends layout
block content
    div(class="row")

        div(class="col-md-12")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 وضعیت نسخه‌ی آنتاکس | نسخه‌ی راننده

                form(role="form")

                div(class='box-body')

                        div

                            - if(version !== null)

                                div(class="card-panel")
                                    h5 ورژن فعلی نرم افزار
                                    h5 #{version.version_code}
                                    h5 آدرس دانلود فعلی
                                    h5 #{version.url}

                                div(class="card-panel")
                                    h5 نوع آپدیت
                                    - if(version.is_force_update == 0)
                                        h5 غیر ضروری
                                    - if(version.is_force_update == 1)
                                        h5 ضروری

    div(class="row")

        div(class="col-md-12")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 بروز‌رسانی نسخه‌ی مد نظر

                form(role="form")

                div(class='box-body')
                    form(action="/panel/support/version/updatedriverversion/", class='form form-inline' method="post")
                      input(
                      class='form-control right-margin'
                      type='text'
                      required='required'
                      placeholder='نسخه ی برنامه'
                      name='version_code'
                      )
                      input(
                      class='form-control right-margin'
                      type='text'
                      required='required'
                      placeholder='آدرس آپدیت'
                      name='url'
                      )
                      select(class="form-control right-margin", name="is_force_update")
                          option(value="none" selected="selected") نوع آپدیت
                          option(value="1") ضروری
                          option(value="0") اختیاری
                      input(
                      class='btn btn-success right-margin'
                      type='submit'
                      value='ویرایش اطلاعات'
                      )