@font-face {
	font-family: 'WMitra';
	src: url('samim.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WMitra';
	src: url('samim-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'WMitra';
	src: url('samim-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'WYekan';
	src:  url('samim.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}