
@font-face {
    font-family: IRANSans;
    src: url(../fonts/IRANSans-UltraLight-web.eot);
    src: url(../fonts/IRANSans-UltraLight-web.eot?#iefix) format("embedded-opentype"), url(../fonts/IRANSans-UltraLight-web.woff) format("woff"), url(../fonts/IRANSans-UltraLight-web.ttf) format("truetype"), url(../fonts/IRANSans-UltraLight-web.woff) format("svg");
    font-weight: 100
}
@font-face {
    font-family: IRANSans;
    src: url(../fonts/IRANSans-Light-web.eot);
    src: url(../fonts/IRANSans-Light-web.eot?#iefix) format("embedded-opentype"), url(../fonts/IRANSans-Light-web.woff) format("woff"), url(../fonts/IRANSans-Light-web.ttf) format("truetype"), url(../fonts/IRANSans-Light-web.woff) format("svg");
    font-weight: 400
}
@font-face {
    font-family: IRANSans;
    src: url(../fonts/IRANSans-Medium-web.eot);
    src: url(../fonts/IRANSans-Medium-web.eot?#iefix) format("embedded-opentype"), url(../fonts/IRANSans-Medium-web.woff) format("woff"), url(../fonts/IRANSans-Medium-web.ttf) format("truetype"), url(../fonts/IRANSans-Medium-web.woff) format("svg");
    font-weight: 600
}
@font-face {
    font-family: IRANSans;
    src: url(../fonts/IRANSans-Bold-web.eot);
    src: url(../fonts/IRANSans-Bold-web.eot?#iefix) format("embedded-opentype"), url(../fonts/IRANSans-Bold-web.woff) format("woff"), url(../fonts/IRANSans-Bold-web.ttf) format("truetype"), url(../fonts/IRANSans-Bold-web.woff) format("svg");
    font-weight: 700
}

/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: -webkit-radial-gradient(ellipse farthest-corner at center bottom, #7c0369 0%, #7c0369 100%);
    background: radial-gradient(ellipse farthest-corner at center bottom, #7c0369 0%, #7c0369 100%);
    /*background: url(../12.jpg);*/
    color: #42474f;
    font-family: IRANSans;
}

/*--------------------
App
--------------------*/
.app {
    position: relative;
    width: 100%;
    max-width: 750px;
    height: 84vh;
    margin: auto;
    margin-top: 5vh;
    background: #fff;
    padding: 2px 2px 0 2px;
    border: 4px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.app .header {
    font-family: IRANSans;
    direction: rtl;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    line-height: 44px;
    font-size: 18px;
    font-weight: 300;
    background: rgba(249, 249, 249, 0.92);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.app .header img {
    height: 43px;
    vertical-align: middle;
    position: relative;
    top: 0px;
    margin-right: 0px;
}
.app .header span {
    font-size: 12px;
    margin-right: 5px;
    color: #3165A4;
    font-weight: 600;
}
.app .header small {
    position: relative;
    top: 0;
    float: left;
    font-size: 14px;
    color: #58A7E2;
    margin-left: 13px;
}

.app .header .title {
    font-size: 23px;
    display: inline;
    margin-right: 7px;
    font-weight: 400;
}

.app #map {
    z-index: 1;
    width: 100%;
    height: calc(100% - 120px);
    top: 0;
    left: 0;
}
.app .info {
    font-family: IRANSans;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: -1px;
    width: 100%;
    height: 120px;
    background: #fff;
    box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.app .info-box {
    position: relative;
    background: #fff;
    padding: 10px;
    width: 50%;
    height: 60px;
    float: left;
    border-bottom: 1px solid #ddd;

}
.app .info-box img {
    position: absolute;
    right: 9px;
    top: 14px;
    width: 25px;
    height: auto;
    height: auto;
}
.app .info-box mark {
    position: absolute;
    right: 43px;
    top: 13px;
    font-size: 15px;
    font-weight: 300;
    padding: 0;
    background: none;
    color: #393e47;
}
.app .info-box small {
    position: absolute;
    right: 43px;
    top: 38px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #959da6;
}



.app .info-box2 {
    position: relative;
    background: #fff;
    padding: 10px;
    width: 50%;
    height: 60px;
    float: left;
    border-bottom: 1px solid #ddd;
    height:120px;
    border-right: 1px solid #ddd;
}
.app .info-box2 img.avatar {
    position: absolute;
    right: 9px;
    top: 14px;
    width: 95px;
    height: auto;
    border-radius: 50%;
    z-index: 999;
}
.app .info-box2 img.pelak {
    position: absolute;
    right: 140px;
    top: 57px;
    width: 175px;
    height: auto;
    height: auto;
}
.app .info-box2 mark {
    position: absolute;
    top: 13px;
    right: 94px;
    font-size: 14px;
    font-weight: 300;
    color: #393e47;
    background: #fff;
    width: 274px;
    text-align: center;
}
.app .info-box2 small {
    color: #000;
    font-weight: 700;
}
.pelak-left {
    position: absolute;
    right: 192px;
    top: 63px;
    display: block;
    font-size: 16px;
    z-index: 20;
    text-transform: uppercase;
    direction: rtl;
    letter-spacing: 3px;

}
.pelak-right {
    position: absolute;
    right: 150px;
    top: 66px;
    display: block;
    font-size: 15px;
    z-index: 20;
    text-transform: uppercase;
    direction: rtl;
    letter-spacing: 3px;
}




.app .info-box3 {
    display: none;
    position: relative;
    /*background: rgba(255, 255, 255, 0.84);*/
    width: 100%;
    border-top: 1px solid #ddd;
    height: 40px;
}
.app .info-box3 mark {
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    width: 100%;
    padding: 0;
    background: none;
    color: #616161;
    text-align: center;
}
.app .info-box3 small {
    position: absolute;
    right: 20px;
    display: block;
    font-size: 9px;
    text-transform: uppercase;
    color: #959da6;
}

.reload {
    font-family: IRANSans;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #fff;
    border: none;
    border-radius: 20px;
    outline: none !important;
    font-size: 11px;
    line-height: 1.5;
    padding: 8px 12px;
    text-transform: uppercase;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 6px 7px #244B94;
    -webkit-transition: all 0.1s cubic-bezier(0.67, 0.13, 0.1, 0.81);
    transition: all 0.1s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.reload:hover {
    box-shadow: 0 4px 4px #244B94;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}
.reload:active {
    box-shadow: 0 1px 2px #244B94;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}
.reload svg {
    vertical-align: middle;
    position: relative;
    top: -2px;
}


@media screen and (max-width: 750px) {
    .app {
        height: 93vh;
        margin-top: 0;
        padding: 0;
    }
    .app #map {
        z-index: 1;
        width: 100%;
        height: calc(100% - 120px);
    }

    .app .header {
        height: 134px;
    }

    .app .header .title {
        font-size: 18px;
    }
    .info-box {
        display: none;
    }
    .app .info-box3 {
        display: block;
    }

    .app .info-box2 {
        width: 100%;
        border: none;
    }

    .app .info {
        height: 120px
    }

    .reload {
        display: none;
    }

}