@font-face {
    font-family: IranSans;
    src: url(../fonts/IranSans.woff2)
}

@font-face {
    font-family: IranSans;
    src: url(../fonts/IRANSanBold.woff2);
    font-weight: 700
}

html * {
    /*font-family: IranSans !important*/
}


* {

    direction: rtl; !important;

}

*:not(.side-nav *) {

    background-color: transparent !important;
    border: transparent !important;
    color: black !important;
}

html {
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: cover;
}

/*@font-face { font-family: IranSans; src: url('../fonts/IRANSans.ttf'); }*/


.side_menu {
    position: absolute;
    padding: 0 !important;
    background-color: yellow;
    top: 0;
    right: 0;
    height: 100%;
}

.side_menu_item {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
    font-size: 16px;
    text-align: center;
    border-radius: 30px;
    margin: 15px;
    border: solid 1px black;
    color: black;
}

body {
  /*padding: 50px;*/
}

.side_menu_header {
    background-color: #0CC50C;
    color: white;
    position: relative;
    width: 100%;
    margin-top: -10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.filter_btn {
    margin-right: 10px;
}

.search-input {
    margin-left: 30px;
}
.search-btn {
    margin-bottom: 30px;
}

#map {
    width: 100%;
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
}

#taxi-map {
    width: 100%;
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
}

.support_taxi_track_btn {
    margin-right: 10px;
}

.taxis-on-map-btn {
    margin-left: 10px;
    margin-bottom: 10px;
}

#taxis-map {
    width: 100%;
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
}

.travel_page_list_group {
    padding-right: 0;
}

.right-margin {

    margin-right: 10px !important;
    display: inline;
    max-width: none;
    width: auto;

}
.side-nav.fixed {
    right: 0;
    position: fixed;

}

.collapsible-header {

    margin: 0 !important;
    padding-right: 10px;

}

.content {

    /*margin-top: 40px;*/

}

.side-nav .collapsible-body li a {
    margin: 0 !important;
    padding-right: 40px;
}

.side-nav * {

    border: none !important;
    color: black !important;
}

td, th {
    text-align: right;
}

.form-control {

    /*max-width: 250px;*/

}

.input-field {
    max-width: 350px;
}

.input-field label {
    right: 0;
}

ul .dropdown-content .active {
    width: auto !important;
}

ul .dropdown-content li a {

    text-align: right !important;
}

.dropdown-content > .active {

    width: auto !important;

}

.main_nav {
    padding-right: 20px;
    background-color: #024a5a !important;
}

.wel_message {
    padding: 170px 100px 170px 100px;
    margin-top: 10px;
    background-color: #fafafa;
    text-align: center;
    color: gray;
}

a:active, a:hover {
    color: #847C7C !important;
    text-decoration: none;
}

.place-map {

    height: 500px;

}

.login_part {
    text-align: center;
    margin: auto;
    max-width: 500px;
    background: lightcyan;
    padding: 30px;
}

.login_part .form-control {
    width: 100%; !important;
    text-align: center;
    margin: auto;
}

.secondary-content {
    float: left;
}

.cropit-preview * {

  direction: ltr; !important;

}
.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 250px;
    height: 250px;
    direction: ltr; !important;
}
.cropit-preview-image-container {
    cursor: move;
}
.image-size-label {
    margin-top: 10px;
}
input {
    display: block;
}
button[type="submit"] {
    margin-top: 10px;
}
#result {
    margin-top: 10px;
    width: 900px;
}
#result-data {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.list_icon {

    width: 30px;
    height: 30px;

}

.driver_avatar {
    width: 40px;
    height: 40px;
}

.pagination_part {
    margin: auto;
    direction: rtl;
    text-align: center;
}

/*.pagination_part * {*/
    /*float: left !important;*/
/*}*/

.pagination_icon {
    max-width: 70px;
}

.car_plate_code {
    width: 180px;
    height: 42px;
    background: url("../icons/plate_bg.jpg") no-repeat right;
}

.car_plate_text {
    display: inline-block;
    margin-right: 50px;
    margin-top: 11px;
}

.car_plate_text_base {
    display: inline-block;
    margin-right: 15px;
}

.car_plate_input_base {
    max-width: 50px;
    display: inline-block;
    margin-right: 8px !important;
    text-align: center !important;
}

.car_plate_input {
    max-width: 92px;
    display: inline !important;
    margin-right: 25px !important;
    text-align: center !important;
    margin-top: 4px;
}

.card-panel {
    background: white !important;
}

.card-panel .card-panel {
    background: #f4f4f4 !important;
}

.card-panel .card-panel .card-panel{
    background: white; !important;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.time_factor_row {
    max-width: 50px;
}

.time_duration_row {
    max-width: 150px !important;
}

.row .col {
    float: right !important;
}

.dir_list_input {
    direction: ltr;
}

.pagination_part {

    text-align: center;

}

.add-station-map {

    width: 100%;
    height: 300px;

}



.login_logo {

    width: 80px;
    height: 80px;

}

.payment_logo {

    width: 110px;
    height: 110px;

}

.payment_confirm_bg {
    -webkit-appearance: none !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 0px 7px rgba(0, 0, 0, 0.44);
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
    padding: 20px;
    text-align: right;
    direction: rtl;
    /*background: #f2f2f2;*/
    background: linear-gradient(
            to bottom,
            #f2f2f2,
            #f2f2f2 50%,
            #f2f2f2 50%,
            #f2f2f2
    );
}


.payment_confirm_bg hr {
    display: block;
    height: 1px;
    background: linear-gradient(
            to bottom,
            #f6fabc,
            #f6fabc 50%,
            #f6fabc 50%,
            #f6fabc
    );
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

    /* The rectangle in which to repeat.
       It can be fully wide in this case */
    /*background-size: 80% 40px;*/
    /*background-color: #fafafa;*/

.payment_success_bg {
    -webkit-appearance: none !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 0px 7px rgba(0, 0, 0, 0.44);
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
    padding: 20px;
    text-align: right;
    direction: rtl;
    /*background: #f2f2f2;*/
    background: linear-gradient(
            to bottom,
            #f6fabc,
            #f6fabc 50%,
            #f6fabc 50%,
            #f6fabc
    );

}

.payment_area {

}

.payment_confirm_bg * {
    font-family: IranSans !important;
}

.payment_success_bg * {
    font-family: IranSans !important;
}

.payment_confirm_bg h2 {
    color: #03007c;
    -webkit-text-fill-color: #03007c;
    z-index: 1;
}
.payment_confirm_bg h1 {
    color: #03007c;
-webkit-text-fill-color: #03007c;

}

.payment_confirm_bg h4 {
    color: #03007c;
-webkit-text-fill-color: #03007c;

}
.payment_confirm_bg h5 {
    color: #03007c;
-webkit-text-fill-color: #03007c;

}

.payment_confirm_bg h3 {
    color: #086b98;
    -webkit-text-fill-color: #086b98;
}

.payment_success_bg h2 {
    color: #03007c;
    -webkit-text-fill-color: #03007c;
    z-index: 1;
}
.payment_success_bg h1 {
    color: #03007c;
-webkit-text-fill-color: #03007c;

}

.payment_success_bg h3 {
    color: #086b98;
    -webkit-text-fill-color: #086b98;
}

.img-circle {
    border-radius: 50%;
}

.success_message {

    color: green;
    -webkit-text-fill-color: green !important;
    text-align: center;

}
.failure_message {

    color: #ff0727;
    -webkit-text-fill-color: #ff0727 !important;
    text-align: center;

}

.confirm_payment {
    /*-webkit-appearance: none;*/
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    font-size: 17px;
    text-align: center;
    -webkit-text-fill-color: #ffffff;
    display: inline-block;
    padding: 6px 12px;

    margin: auto;
    line-height: 1.62857143;
    width: 40%;
    background: linear-gradient(
            to bottom,
            #3354ff,
            #3354ff 50%,
            #3354ff 50%,
            #3354ff
    );
    border: none;
    border-radius: 8px;
    /*box-shadow: 1px 2px 1px 0px rgba(58, 58, 58, 0.19);*/
    /*-webkit-box-shadow: 0px 0px 7px 2px rgba(43,184,14,1);*/
    /*-moz-box-shadow: 0px 0px 7px 2px rgba(43,184,14,1);*/
    /*box-shadow: 0px 0px 7px 2px rgba(43,184,14,1);*/
    /*background: none !important;*/
}

.payment_confirm_bg span {

    margin-right: 10px;
    font-size: 17px;

}

.payment_confirm_bg img {

    vertical-align: middle;

}