extends layout
block content

    div(class="row")
        div(class="col-md-4")
            div(class="info-box")
                span(class="info-box-icon bg-aqua")
                    i(class="fa fa-envelope-o")
                div(class="info-box-content")
                    span(class="info-box-text") تعداد کاربران
                    span(class="info-box-number") #{stat.customers_number}
        div(class="col-md-4")
            div(class="info-box")
                span(class="info-box-icon bg-green")
                    i(class="fa fa-envelope-o")
                div(class="info-box-content")
                    span(class="info-box-text") تعداد تاکسی ها
                    span(class="info-box-number") #{stat.taxis_number}
        div(class="col-md-4")
            div(class="info-box")
                span(class="info-box-icon bg-yellow")
                    i(class="fa fa-flag-o")
                div(class="info-box-content")
                    span(class="info-box-text") کل سفرها
                    span(class="info-box-number") #{stat.travels_stat.travels_number}
        //div(class="col-md-3")
        //    div(class="info-box")
        //        span(class="info-box-icon bg-red")
        //            i(class="fa fa-files-o")
        //        div(class="info-box-content")
        //            span(class="info-box-text") تعداد کاربران
        //            span(class="info-box-number") #{stat.customers_number}



