doctype html
html
    head
        title آنتاکس
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/date_picker.css')

        // ADMIN LTE FILES

        link(rel="stylesheet" href="/adminlte/css/bootstrap.min.css")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

        link(rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

        link(rel="stylesheet" href="/adminlte/css/AdminLTE.css")

        link(rel="stylesheet" href="/adminlte/css/skin-blue.min.css")

        link(rel="stylesheet" href="/adminlte/fonts/fonts-fa.css")

        link(rel="stylesheet" href="/adminlte/css/bootstrap-rtl.min.css")

        script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
        script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
        //script(src='/javascripts/jquery.min.js')
        script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBSXXfkWfuFcsWWLkt1bzGvsbw6noAEtv8')
        script(src="/adminlte/js/jQuery-2.1.4.min.js")
        script(src='/socket.io/socket.io.js')

        script(src='/javascripts/notify.min.js')
        script(src='/javascripts/pnotify.min.js')
        script(src='/javascripts/jquery.notification.js')
        script(src='/javascripts/croppie.js')
        script(src='/javascripts/persian_date.js')
        script(src='/javascripts/persian_date_picker.js')
        script(src='/javascripts/jquery.autocomplete.js')

        script(src="/adminlte/js/bootstrap.min.js")
        script(src="/adminlte/js/app.min.js")
        script(src='/javascripts/gmaps.js')
        script(src="/adminlte/js/jquery.flot.min.js")
        script(src='/adminlte/js/jquery.flot.time.js')
        script(src="/javascripts/panel.js")

        body(class="skin-blue sidebar-mini login-page")

            if(user)

                if(user.account_type == 'admin' || user.account_type == 'station')

                    div(class="wrapper")


                    header(class="main-header")
                        a(href="/" class="logo")

                            span(class="logo-mini")
                            آنتاکس

                            span(class="logo-lg")
                                آنتاکس


                        nav(class="navbar navbar-static-top" role="navigation")

                            a(href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button")
                                span(class="sr-only") Toggle navigation

                    aside(class="main-sidebar")

                        section(class="sidebar")

                            div(class="user-panel")
                                div(class="pull-right image")
                                    img(src="/adminlte/img/logo.png" class="img-circle" alt="User Image")
                                div(class="pull-right info")
                                    p سامانه مدیریتی


                            ul(class="sidebar-menu")
                                li(class="header") سفرها
                                    li(class="active")
                                        a(href="/station/travel/list/1/10")
                                            i(class="fa fa-link")
                                            span لیست سفر‌ها

                                li(class="header") تاکسی‌ها

                                li
                                    a(href="/station/taxi/add/")
                                        i(class="fa fa-link")
                                        span تعریف تاکسی جدید

                                li
                                    a(href="/station/taxi/list/1/10")
                                        i(class="fa fa-link")
                                        span لیست تاکسی ها

                                li(class="header") اطلاعات و گزارش

                                    li
                                        a(href="/station/edit/")
                                            i(class="fa fa-link")
                                            span ویرایش اطلاعات



                    div(class="content-wrapper")


                        section(class="content")

                            block content




                    footer(class="main-footer")

                        div(class="pull-right hidden-xs") آنتاکس &nbsp;


                        strong
                            a(href="#") تمامی حقوق محفوظ است


                    aside(class="control-sidebar control-sidebar-dark")

                        ul(class="nav nav-tabs nav-justified control-sidebar-tabs")
                            li(class="active")
                                a(href="#control-sidebar-home-tab" data-toggle="tab")
                                    i(class="fa fa-home")
                            li
                                a(href="#control-sidebar-settings-tab" data-toggle="tab")
                                i(class="fa fa-gears")

                        div(class="tab-content")

                            div(class="tab-pane active" id="control-sidebar-home-tab")

                                h3(class="control-sidebar-heading") Recent Activity
                                ul(class="control-sidebar-menu")
                                    li
                                        a(href = "javascript::;")
                                            i(class="menu-icon fa fa-birthday-cake bg-red")
                                            div(class="menu-info")
                                                h4(class="control-sidebar-subheading") Langdon's Birthday
                                                p   Will be 23 on April 24th

                                    h3(class="control-sidebar-heading") Tasks Progress
                                    ul(class="control-sidebar-menu")
                                        li
                                            a(href="javascript::;")
                                                h4(class="control-sidebar-subheading")  Custom Template Design
                                                    span(class="label label-danger pull-right") 70%
                                                div(class="progress progress-xxs")
                                                    div(class="progress-bar progress-bar-danger" style="width: 70%")

                            div(class="tab-pane" id="control-sidebar-stats-tab") Stats Tab Content

                            div(class="tab-pane" id="control-sidebar-settings-tab")
                                form(method="post")
                                    h3(class="control-sidebar-heading") General Settings
                                    div(class="form-group")
                                    label(class="control-sidebar-subheading")
                                        Report panel usage
                                        input(type="checkbox" class="pull-right" checked)
                                p Some information about this general settings option

                    div(class="control-sidebar-bg")
                else
                    div(class="login-box")
                        div(class="login-logo")
                            //b آنتاکس | ورود

                        div(class="login-box-body")

                            p(class="login-box-msg") شما اجازه دسترسی به این صفحه را ندارید

                                div(class="row")
                                    div(class="col-md-12")
                                        a(href="/")
                                            button(type="submit" class="btn btn-primary btn-block btn-flat") رفتن به صفحه‌ی اصلی



            else if (!user)

                //div(class="login-page")
                div(class="login-box")
                    div(class="login-logo")
                        b آنتاکس | ورود

                    div(class="login-box-body")

                        p(class="login-box-msg") نام کاربری و رمز عبور خود را وارد نمایید

                        form(action="/login/" method="post")

                            div(class="form-group has-feedback")

                                input(type="text" class="form-control" name="username" placeholder="نام کاربری")

                                span(class="glyphicon glyphicon-envelope form-control-feedback")

                            div(class="form-group has-feedback")

                                input(type="password" class="form-control" name="password" placeholder="رمز عبور")

                                span(class="glyphicon glyphicon-lock form-control-feedback")

                            div(class="row")
                                div(class="col-md-12")
                                    button(type="submit" class="btn btn-primary btn-block btn-flat") ورودبه سیستم




                //div(class='container')
                //    div(class='login_part')
                //        h5 ورود مدیر سیستم
                //        br
                //        form(method="post", action="/login/")
                //            input(class="form-control", type="text", name='username', placehoder='نام کاربری')
                //            br
                //            input(class="form-control", type="password", name='password', placehoder='رمز عبور')
                //            br
                //            input(class="btn btn-primary", type="submit", value="ورود")






