extends layout
block content

    div(class="row")
        //div(class="col-md-9")
        //
        //    div(class="box box-primary")
        //        div(class="box-header with-border")
        //            h4 فیلتر بر اساس تاریخ
        //
        //        form(role="form")
        //
        //        div(class='box-body')
        //            form(action="/panel/report/getfinancereport/", method="post", class="form-inline")
        //                input(
        //                class="form-control start_date",
        //                name="start_date",
        //                id="start_date",
        //                type="text",
        //                placeholder="yyyy/mm/dd"
        //                )
        //                input(
        //                class="form-control right-margin finish_date",
        //                type="text",
        //                id="finish_date",
        //                name="finish_date",
        //                placeholder="yyyy/mm/dd"
        //                )
        //                input(right-margin
        //                class="btn btn-primary right-margin",
        //                type="submit",
        //                value="فیلتر بر اساس تاریخ"
        //                )
        div(class="col-md-3")
            a(href="/station/turnover/list/1/10")
                button(class="btn btn-block btn-primary") لیست تراکنش‌ها
            br


    br
    br
    //div(class="row")
    //    div(class="col-md-12")
    //        div(class="box box-success")
    //            div(class="box-header with-border")
    //                div(class="col-md-6")
    //                    h5 گزارش‌ کلی
    //
    //            div(class="box-body")
    //
    //                div(class="row")
    //
    //                    div(class="col-md-3")
    //                        div(class="box box-success")
    //                            div(class="box-header with-border")
    //                                h4 کل درآمد راننده‌ها
    //                            div(class="box-body")
    //                                h3 #{data.total_driver_income} تومان
    //
    //                    div(class="col-md-3")
    //                        div(class="box box-primary")
    //                            div(class="box-header with-border")
    //                                h4 طلب رانندگان(اعتبار آنان)
    //                            div(class="box-body")
    //                                h3 #{data.total_credit} تومان
    //
    //
    //                    div(class="col-md-3")
    //                        div(class="box box-danger")
    //                            div(class="box-header with-border")
    //                                h4 جمع بدهکاری آنان(نقدی‌ها)
    //                            div(class="box-body")
    //                                h3 #{data.total_driver_debt} تومان
    //
    //                    div(class="col-md-3")
    //                        div(class="box box-warning")
    //                            div(class="box-header with-border")
    //                                h4 درآمد کل آنتاکس
    //                            div(class="box-body")
    //                                h3 #{data.total_ucab_income} تومان


    div(class="row")
        div(class="col-md-12")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 راننده‌های طلبکار و بدهکار

                form(role="form")

                div(class='box-body')
                    table(class='table table-table-responsive content_table highlight')
                        tr

                            th نام راننده
                            th کد راننده
                            th مبلغ
                            th طلب/بدهی
                            th اطلاعات تاکسی
                            each item in taxis
                                tr
                                    td #{item.driver_name}
                                    td #{item.taxi_code}
                                    td
                                        b #{item.credit} تومان
                                    - if(item.is_debt)
                                        td
                                            span(class="label label-success")  بدهکار (طلب از راننده)
                                    - else
                                        td
                                            span(class="label label-primary")  طلب‌کار (بدهکار به راننده)
                                    td
                                        a(href='/station/taxi/info/#{item._id}/1/10/')
                                            //img(src="/public/icons/edit.png", class="list_icon")
                                            i(class="fa fa-edit fa-2x")

    - if(typeof(report_data) !== 'undefined')
        div(class="row")
            div(class="col-md-12")

                div(class="box box-primary")
                    div(class="box-header with-border")
                        h4 نتیجه‌ی گزارشات
                        br
                        h5 گزارش کلی از تاریخ #{start_date} تا تاریخ #{finish_date}

                    form(role="form")

                    div(class='box-body')

                        div(class="row")

                            div(class="col-md-4")
                                div(class="info-box")
                                    span(class="info-box-icon bg-aqua")
                                        i(class="fa fa-credit-card")
                                    div(class="info-box-content")
                                        span(class="info-box-text") کل تخفیف
                                        span(class="info-box-number") #{report_data.all_discount}
                            div(class="col-md-4")
                                div(class="info-box")
                                    span(class="info-box-icon bg-green")
                                        i(class="fa fa-money")
                                    div(class="info-box-content")
                                        span(class="info-box-text") کل کرایه‌ها
                                        span(class="info-box-number") #{report_data.all_cost}
                            div(class="col-md-4")
                                div(class="info-box")
                                    span(class="info-box-icon bg-yellow")
                                        i(class="fa fa-flag-o")
                                    div(class="info-box-content")
                                        span(class="info-box-text") کل سفرها
                                        span(class="info-box-number") #{report_data.travels_number}

        div(class="col-md-12")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 نتیجه‌ی گزارشات
                    br
                    h5 گزارش خودرو‌ها از تاریخ #{start_date} تا تاریخ #{finish_date}

                form(role="form")

                div(class='box-body')

                    table(class='table table-table-responsive content_table highlight')
                        tr
                            th کد خودرو
                            th نام و نام خانوادگی
                            th آژانس
                            th تعداد سفرها
                            th مبلغ کرایه‌ها
                            th میزان تخفیف

                        each taxi in report_data.taxis
                            tr
                                td #{taxi.taxi_code}
                                td #{taxi.driver_name}
                                td #{taxi.station_title}
                                td #{taxi.travels_number}
                                td #{taxi.cost}
                                td #{taxi.discount_amount}
