extends layout
block content
    div(class="row")
        div(class="col-md-6")
            div(class="row")
                div(class="col-md-12")

                    div(class="box box-success")
                        div(class="box-header with-border")
                            h4 اطلاعات آژانس

                        form(role="form")

                        div(class='box-body')
                            input(
                            type='hidden',
                            class='form-control',
                            value='#{station.loc[0]}',
                            id='location_lan'
                            )
                            input(
                            type='hidden',
                            class='form-control',
                            value='#{station.loc[1]}',
                            id='location_lat'
                            )
                            h5 نام کاربری: #{station.username}
                            h5 شماره تلفن: #{station.phone_number}
                            h5 شماره موبایل: #{station.mobile_number}
                            h5 آدرس: #{station.address}

            div(class="row")
                div(class="col-md-6")

                    div(class="box box-success")
                        div(class="box-header with-border")
                            h4 اطلاعات آژانس

                        form(role="form")

                        div(class='box-body')
                            form(action="/panel/station/edit/", method="post")
                                input(
                                class='form-control'
                                type='text'
                                required='required'
                                value='#{station.username}'
                                placeholder='نام کاربری'
                                name='username'
                                readonly='readonly'
                                id='username'
                                )
                                br
                                input(
                                class='form-control'
                                type='hidden'
                                required='required'
                                value='#{station._id}'
                                placeholder='آیدی آژانس'
                                name='station_id'
                                readonly='readonly'
                                )
                                br
                                label(for="title") عنوان آژانس
                                input(
                                class='form-control'
                                required='required'
                                type='text'
                                value='#{station.title}'
                                placeholder='عنوان'
                                name='title'
                                id='title'
                                )
                                br
                                label(for="phone_number") شماره تلفن
                                input(
                                class='form-control'
                                required='required'
                                type='text'
                                value='#{station.phone_number}'
                                placeholder='رنگ'
                                name='phone_number'
                                id='phone_number'
                                )
                                br
                                br
                                label(for="mobile_number") شماره موبایل
                                input(
                                class='form-control'
                                type='number'
                                required='required'
                                value='#{station.mobile_number}'
                                placeholder='شماره تلفن'
                                name='mobile_number'
                                id='mobile_number')

                                br
                                label(for="address") آدرس
                                textarea(
                                class='form-control'
                                required='required'
                                placeholder='آدرس'
                                name='address'
                                id='address'
                                )
                                 | #{station.address}
                                br
                                br
                                input(
                                class='btn btn-primary'
                                type='submit'
                                value='ویرایش آژانس'
                                )

                div(class="col-md-6")

                    div(class="box box-success")
                        div(class="box-header with-border")
                            h4 تغییر رمز عبور

                        form(role="form")

                        div(class='box-body')
                            form(action="/station/changepassword/", method="post")
                                label(for="password") رمز عبور
                                input(
                                class='form-control'
                                type='password'
                                required='required'
                                placeholder='رمز عبور جدید'
                                name='password'
                                id='password'
                                )
                                br
                                label(for="repassword") تکرار رمز عبور
                                input(
                                class='form-control'
                                type='password'
                                required='required'
                                placeholder='رمز عبور جدید'
                                name='repassword'
                                id='repassword'
                                )
                                br
                                input(
                                class='form-control'
                                type='hidden'
                                required='required'
                                value='#{station._id}'
                                placeholder='آیدی آژانس'
                                name='station_id'
                                readonly='readonly'
                                )
                                br
                                br
                                input(
                                class='btn btn-primary'
                                type='submit'
                                value='تغییر پسورد'
                                )

        div(class="col-md-6")
            div(class="box box-success")
                div(class="box-header with-border")
                    div(class="col-md-6")
                        h4 آژانس روی نقشه

                    div(class="col-md-6")
                        button(
                        class="btn btn-primary",
                        id="show-station-map-btn"
                        ) نمایش روی نقشه

                form(role="form")

                div(class='box-body')

                    div(class='show-station-map', id='show-station-map')

    //div(class="row")
    //    div(class="col-md-12")
    //        div(class="box box-success")
    //            div(class="box-header with-border")
    //                h5 آمار آنلاین بودن تاکسی
    //
    //                input(
    //                id="taxi_id"
    //                type="hidden"
    //                value="#{taxi._id}"
    //                )
    //
    //                button(
    //                class="btn btn-success",
    //                id="show_taxi_online_stat"
    //                ) نمایش آمار
    //
    //            form(role="form")
    //
    //            div(class='box-body')
    //                select(class="form-control taxi_stat_date", name="taxi_stat_date", id="taxi_stat_date")
    //                    each date in taxi_stat.online_dates
    //                        option(value="#{date}") #{date}
    //
    //                div(id="area-chart" style="height: 338px;" class="full-width-chart")
    //
    //div(class="row")
    //    div(class="col-md-12")
    //        div(class="box box-danger")
    //            div(class="box-header with-border")
    //                h4 سفرهای تاکسی
    //
    //            form(role="form")
    //
    //            div(class='box-body')
    //                div
    //                    table(class='table table-table-responsive content_table highlight')
    //                        tr
    //                            th شماره سفر
    //                            th وضعیت سفر
    //                            th فعالی
    //                            th نوع پرداخت
    //                            th هزینه سفر
    //                            th مدیریت سفر
    //                        each item in travels
    //                            tr
    //                                td #{item.travel_code}
    //                                td
    //                                    - if(item.state == 'customer_canceled')
    //                                        مسافر کنسل کرده
    //                                    - if(item.state == 'support_canceled')
    //                                        پشتیبانی کنسل کرده
    //                                    - if(item.state == 'taxi_refused')
    //                                        تاکسی رد کرده
    //                                    - if(item.state == 'taxi_confirmed')
    //                                        تایید تاکسی (در راه رسیدن)
    //                                    - if(item.state == 'travel_started')
    //                                        سفر شروع شده
    //                                    - if(item.state == 'searching')
    //                                        داره میسرچه
    //                                    - if(item.state == 'taxi_founded')
    //                                        داره از تاکسی میپرسه
    //                                    - if(item.state == 'finished')
    //                                        سفر تمام شده
    //                                    - if(item.state == 'finish_commented')
    //                                        سفر تمام شده و نظر داده شده
    //                                    - if(item.state == 'taxi_not_found')
    //                                        تاکسی یافت نشده
    //                                    - if(item.state == 'taxi_canceled')
    //                                        تاکسی کنسل کرده
    //                                    - if(item.state == 'put_off_searching')
    //                                        در حال جستجو(پس از انصراف تاکسی)
    //                                    - if(item.state == 'none')
    //                                        اولیه
    //
    //
    //                                    td
    //                                        - if(item.is_active == 1)
    //
    //                                            span(class="label label-success")  فعال
    //                                        - if(item.is_active == 0)
    //
    //                                            span(class="label label-default") غیر فعال
    //                                    td
    //                                        - if(item.payment_type == "cash")
    //                                            span(class="label label-primary") نقدی
    //                                        - if(item.payment_type == "wallet")
    //                                            span(class="label label-primary") اعتباری
    //                                    td #{item.cost} تومان
    //                                    td
    //                                        a(href='/panel/travel/#{item._id}')
    //
    //                                            i(class="fa fa-wrench fa-2x")
    //
    //
    //                                    //- if(is_pagination == true)
    //                                    //    div(class='row pagination_part')
    //                                    //        div(class='col s7')
    //                                    //            - if(travels.length >= 10)
    //                                    //                a(href='#{path}#{next_page}/10/')
    //                                    //                    img(src="/public/icons/next.png", class="pagination_icon")
    //                                    //        div(class='col s5' style='direction: ltr')
    //                                    //            - if(prev_page > 0)
    //                                    //                a(href='#{path}#{prev_page}/10/')
    //                                    //                    img(src="/public/icons/prev.png", class="pagination_icon")
    //
    //                    div(class='row pagination_part')
    //                        ul(class="pagination")
    //                            - if(travels.length >= 10)
    //
    //
    //                                - if(prev_page > 0)
    //                                    li
    //                                        a(href="#{path}#{prev_page}/10/")
    //                                            span(aria-hidden="true") &laquo;
    //                                - else
    //                                    li(class="disabled")
    //                                        a(href="#{path}#{prev_page}/10/")
    //                                            span(aria-hidden="true") &laquo;
    //
    //                                li(class="active")
    //                                    a(href="#" aria-label="Previous")
    //                                        span #{next_page - 1}
    //
    //                                li
    //                                    a(href="#{path}#{next_page}/10/" aria-label="Previous")
    //                                        span(aria-hidden="true") &raquo;
    //
    //
    //                            - else
    //
    //                                - if(prev_page > 0)
    //                                    li
    //                                        a(href="#{path}#{prev_page}/10/")
    //                                            span(aria-hidden="true") &laquo;
    //
    //                                - else
    //                                    li(class="disabled")
    //                                        a(href="#{path}#{prev_page}/10/")
    //                                            span(aria-hidden="true") &laquo;
    //
    //                                li(class="active")
    //                                    a(href="#" aria-label="Previous")
    //                                        span #{next_page - 1}
    //
    //                                li(class="disabled")
    //                                    a(href="#{path}#{next_page}/10/")
    //                                        span(aria-hidden="true") &raquo;
    //
    //div(class="row")
    //    div(class="col-md-12")
    //        div(class="box box-success")
    //            div(class="box-header with-border")
    //                h4 نظرات راننده
    //
    //            form(role="form")
    //
    //            div(class='box-body')
    //                div(class='form-container')
    //                    table(class='table table-table-responsive content_table highlight')
    //                        tr
    //                            th متن نظر
    //                            th ستاره
    //                            th تاریخ
    //                            th زمان
    //                            th حذف
    //                        each comment in comments
    //                            tr
    //                                td
    //                                    each comment_text in comment.comments_text
    //                                        p #{comment_text.text}
    //                                td #{comment.star}
    //                                td #{comment.date}
    //                                td #{comment.time}
    //                                td
    //                                    a(href="/panel/comment/remove/#{comment._id}/")
    //                                        img(src="/public/icons/minus.png", class="list_icon")

//div(class='form-container')
    //
    //    table(class='table table-bordered table-table-responsive content_table')
    //        tr
    //            th کد تاکسی
    //            th نام کاربری
    //            th نام راننده
    //            th مدل و رنگ تاکسی
    //            th شماره تلفن راننده
    //            th شماره پلاک
    //            th وضعیت
    //            th آزادی
    //            th ویرایش
    //            th مشاهده روی نقشه
    //            th لیست سفرها
    //        tr
    //            td #{taxi.taxi_code}
    //            td #{taxi.username}
    //            td #{taxi.driver_name}
    //            td #{taxi.model} #{taxi.color}
    //            td #{taxi.driver_phone_number}
    //            td #{taxi.car_code}
    //            td
    //                - if(taxi.is_online == 0)
    //                    h5 آفلاین
    //                - if(taxi.is_online == 1)
    //                    h5 آنلاین
    //            td
    //                - if(taxi.is_free == 0)
    //                    h5 آزاد
    //                - if(taxi.is_free == 1)
    //                    h5 مشغول
    //            td
    //                a(href='/panel/taxi/edit/#{taxi._id}')
    //                    input(type='button', class='btn btn-sm btn-primary', value='ویرایش')
    //            td
    //                a(href='/panel/taxi/map/#{taxi._id}')
    //                    input(type='button', class='btn btn-sm btn-primary', value='نقشه')
    //            td
    //                a(href='/panel/taxi/travels/#{taxi._id}/1/10/')
    //                    input(type='button', class='btn btn-sm btn-primary', value='لیست سفرها')
    //
    //            td
    //                - if(taxi.is_block == false)
    //                    فعال
    //                    a(href='/panel/taxi/block/#{taxi._id}')
    //                        input(type='button', class='btn btn-sm btn-danger', value='بلاک کردن')
    //                - if(taxi.is_block == true)
    //                    بلاک شده
    //                    a(href='/panel/taxi/unblock/#{taxi._id}')
    //                        input(type='button', class='btn btn-sm btn-success', value='خارج کردن از بلاک')
    //    br
    //    br
    //    input(id="taxi-map-show-btn", value='نمایش روی نقشه', taxi_id="#{taxi._id}", class="btn btn-success", type="button")

    div(class='container row taxi-map', id='taxi-map')

                                