extends layout
block content
    div(class='row')
        div(class='col-md-6')
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 ویرایش تاکسی

                form(role="form")

                div(class='box-body')
                    form(action="/station/taxi/edit/", method="post")
                        input(
                        class='form-control'
                        type='text'
                        required='required'
                        value='#{taxi.username}'
                        placeholder='نام کاربری'
                        name='username'
                        id='username'
                        )
                        br
                        input(
                        class='form-control'
                        type='hidden'
                        required='required'
                        value='#{taxi._id}'
                        placeholder='آیدی تاکسی'
                        name='taxi_id'
                        readonly='readonly'
                        )
                        br
                        label(for="model") خودرو
                        input(
                        class='form-control'
                        required='required'
                        type='text'
                        value='#{taxi.model}'
                        placeholder='خودرو'
                        name='model'
                        id='model'
                        )
                        br
                        label(for="car_color") رنگ
                        input(
                        class='form-control'
                        required='required'
                        type='text'
                        value='#{taxi.car_color}'
                        placeholder='رنگ'
                        name='car_color'
                        id='car_color'
                        )
                        br
                        br
                        div(class="car_plate_code")
                            input(
                            class='input_field car_plate_input_base'
                            type='number'
                            required='required'
                            placeholder='پلاک'
                            value='#{taxi.car_code_base}'
                            name='car_code_base'
                            )
                            input(
                            class='form-control car_plate_input'
                            type='text'
                            required='required'
                            placeholder='پلاک'
                            value='#{taxi.car_code}'
                            name='car_code'
                            )
                        br
                        br
                        label(for="driver_phone_number") شماره تلفن
                        input(
                        class='form-control'
                        type='number'
                        required='required'
                        value='#{taxi.driver_phone_number}'
                        placeholder='شماره تلفن'
                        name='driver_phone_number'
                        id='driver_phone_number')

                        br
                        label(for="driver_name") اسم راننده
                        input(
                        class='form-control'
                        type='text'
                        required='required'
                        value='#{taxi.driver_name}'
                        placeholder='اسم راننده'
                        name='driver_name'
                        id='driver_name'
                        )
                        br
                        label(for="year") سال
                        input(
                        class='form-control'
                        type='number'
                        required='required'
                        placeholder='سال'
                        value='#{taxi.year}'
                        name='year'
                        id='year'
                        )
                        br
                        label(for="taxi_code") کد تاکسی
                        input(
                        class='form-control'
                        type='number'
                        required='required'
                        readonly='readonly'
                        value='#{taxi.taxi_code}'
                        placeholder='کد تاکسی'
                        name='taxi_code'
                        id='taxi_code'
                        )
                        br
                        br
                        input(
                        class='form-control'
                        type='hidden'
                        required='required'
                        readonly='readonly'
                        value='#{taxi.station_id}'
                        name='station_id'
                        id='station_id'
                        )
                        br
                        br
                        br
                        label(for="account_number") شماره کارت بانکی
                        input(
                        class='form-control'
                        type='string'
                        required='required'
                        value='#{taxi.account_number}'
                        placeholder='شماره کارت حساب بانکی'
                        name='account_number'
                        id='account_number'
                        )
                        br
                        label(for="account_name") نام صاحب حساب
                        input(
                        class='form-control'
                        type='string'
                        required='required'
                        value='#{taxi.account_name}'
                        placeholder='نام صاحب حساب'
                        name='account_name'
                        id='account_name'
                        )
                        br
                        label(for="account_bank") بانک مربوطه
                        input(
                        class='form-control'
                        type='string'
                        required='required'
                        value='#{taxi.account_bank}'
                        placeholder='بانک مربوطه'
                        name='account_bank'
                        id='account_bank'
                        )
                        br

                        br
                        //label(for="service_type") نوع سرویس
                        //select(class="form-control", name="service_type", id="service_type")
                        //    - if(taxi.service_type == "normal")
                        //        option(value="normal", selected="selected") نرمال
                        //        option(value="vip") V.I.P
                        //        option(value="lady") بانوان
                        //    - else if (taxi.service_type == "vip")
                        //        option(value="normal") نرمال
                        //        option(value="vip", selected="selected") V.I.P
                        //        option(value="lady") بانوان
                        //    - else if (taxi.service_type == "lady")
                        //        option(value="normal") نرمال
                        //        option(value="vip") V.I.P
                        //        option(value="lady", selected="selected") بانوان
                        //    - else
                        //        option(value="normal", selected="selected") انتخاب نوع سرویس
                        //        option(value="normal") نرمال
                        //        option(value="vip") V.I.P
                        //        option(value="lady") بانوان
                        br
                        label(for="service_type") نوع سرویس
                        select(class="form-control", name="service_type", id="service_type")
                            each service in services
                                - if(taxi.service_type == service.service_title)
                                    option(value="#{service._id}", selected="selected") #{service.service_title}
                                - else
                                    option(value="#{service._id}") #{service.service_title}

                        br
                        br
                        input(
                        class='btn btn-primary'
                        type='submit'
                        value='ویرایش تاکسی'
                        )

        div(class='col-md-6')
            //- if(taxi.state == "busy")
            //    div(class='card-panel')
            //        form(action="/panel/taxi/setfree/", method="post")
            //            h5 آزاد کردن تاکسی
            //            h5 دقت کنید که تاکسی در حال انجام سفر نباشد و به اشتباه در حالت مشغول است
            //            br
            //            input(
            //            class='form-control'
            //            type='hidden'
            //            required='required'
            //            value='#{taxi._id}'
            //            placeholder='آیدی تاکسی'
            //            name='taxi_id'
            //            readonly='readonly'
            //            )
            //            br
            //            input(
            //            class='btn btn-success'
            //            type='submit'
            //            value='آزاد کردن تاکسی'
            //            )
            div(class="box box-success")
                div(class="box-header with-border")
                    h4 ویرایش آواتار

                form(role="form")

                div(class='box-body')
                    form(action="/station/taxi/updateavatar/", method="post")

                        input(
                        class='form-control'
                        type='hidden'
                        required='required'
                        value='#{taxi._id}'
                        placeholder='آیدی تاکسی'
                        name='taxi_id'
                        id='taxi_id'
                        readonly='readonly'
                        )
                        br
                        div(class="image-editor")
                            input(type="file" class="cropit-image-input")
                            div(class="cropit-preview")
                            div(class="image-size-label")
                            Resize image
                            input(type="range" class="cropit-image-zoom-input")
                            input(type="hidden" name="image_data" class="hidden-image-data")
                        br
                        input(
                        class='btn btn-success'
                        type='submit'
                        value='ویرایش آواتار'
                        )

            div(class="box box-warning")
                div(class="box-header with-border")
                    h4 تغییر رمز عبور

                form(role="form")

                div(class='box-body')
                    form(action="/station/taxi/changepassword/", method="post")

                        input(
                        class='form-control'
                        type='hidden'
                        required='required'
                        value='#{taxi._id}'
                        placeholder='آیدی تاکسی'
                        name='taxi_id'
                        id='taxi_id'
                        )
                        br
                        label(for="password") رمز عبور
                        input(
                        class='form-control'
                        type='password'
                        required='required'
                        placeholder='رمز عبور جدید'
                        name='password'
                        id='password'
                        )
                        br

                        label(for="re_password") تکرار رمز عبور
                        input(
                        class='form-control'
                        type='password'
                        required='required'
                        placeholder='تکرار رمز عبور جدید'
                        name='re_password'
                        id='re_password'
                        )
                        br
                        input(
                        class='btn btn-warning'
                        type='submit'
                        value='تغییر رمز عبور'
                        )
