extends layout
block content
    div(class="row")
        div(class='col-md-6')
            div(class="box box-primary")
                div(class="box-header with-border")
                    h3 اضافه کردن تاکسی جدید


                div(class="box-body")
                    form(action="/station/taxi/add/", method="post", enctype="multipart/form-data")
                        input(
                        class='form-control'
                        type='text'
                        required='required'
                        placeholder='نام کاربری'
                        name='username'
                        )
                        br
                        input(
                        type='text'
                        class='form-control'
                        required='required'
                        placeholder='پسورد'
                        name='password'
                        )
                        br
                        input(
                        class='form-control'
                        required='required'
                        type='text'
                        placeholder='نام و نام خانوادگی'
                        name='driver_name'
                        )
                        br
                        input(
                        class='form-control'
                        required='required'
                        type='text'
                        placeholder='خودرو'
                        name='model'
                        )
                        br
                        input(
                        class='form-control'
                        required='required'
                        type='text'
                        placeholder='رنگ'
                        name='car_color'
                        )
                        br
                        input(
                        class='form-control'
                        type='number'
                        required='required'
                        placeholder='سال'
                        name='year'
                        )#subtitle-content-form
                        br
                        div(class="car_plate_code")
                            input(
                            class='input_field car_plate_input_base'
                            type='number'
                            required='required'
                            placeholder='پلاک'
                            name='car_code_base'
                            )
                            input(
                            class='form-control car_plate_input'
                            type='text'
                            required='required'
                            placeholder='پلاک'
                            name='car_code'
                            )
                        br
                        input(
                        class='form-control'
                        type='number'
                        required='required'
                        placeholder='شماره تلفن'
                        name='driver_phone_number'
                        )
                        br
                        br
                        input(
                        class='form-control'
                        type='email'
                        placeholder='ایمیل'
                        name='email'
                        )
                        br
                        br
                        input(
                        class='form-control'
                        type='number'
                        required='required'
                        placeholder='شماره کارت'
                        name='account_number'
                        )
                        br
                        br
                        input(
                        class='form-control'
                        type='text'
                        required='required'
                        placeholder='نام صاحب حساب'
                        name='account_name'
                        )
                        br
                        br
                        input(
                        class='form-control'
                        type='text'
                        required='required'
                        placeholder='بانک مربوطه'
                        name='account_bank'
                        )

                        br


                        select(class="form-control", name="service_type", id="service_type")
                            option(value="none" selected="selected") نوع سرویس خودرو؟
                            each service in services
                                option(value="#{service._id}") #{service.service_title}


                        select(class="form-control", name="station_id", id="station_id")
                            option(value="#{station._id}" selected="selected") #{station.title}

                        br
                        div(class="image-editor")
                            input(type="file" class="cropit-image-input")
                            div(class="cropit-preview")
                            div(class="image-size-label")
                            Resize image
                            input(type="range" class="cropit-image-zoom-input")
                            input(type="hidden" name="image_data" class="hidden-image-data")
                        br
                        input(
                        class='btn btn-success'
                        type='submit'
                        value='ثبت تاکسی'
                        )