extends layout
block content
    div(class="row")
        div(class="col-md-6")
                div(class="box box-success")
                    div(class="box-header with-border")
                        h4 اطلاعات راننده

                    form(role="form")

                    div(class='box-body')
                        td
                            - if(taxi.avatar == "")
                                img(class="driver_avatar", src="/public/adminlte/img/logo.png")
                            - else
                                img(class="driver_avatar", src="/#{taxi.avatar}")

                        h5 کد تاکسی:  #{taxi.taxi_code}
                        h5 نام کاربری: #{taxi.username}
                        h5 نام راننده: #{taxi.driver_name} #{taxi.color}
                        h5 مدل و رنگ تاکسی: #{taxi.model} #{taxi.color}
                        h5 شماره تلفن راننده: #{taxi.driver_phone_number}
                        h5 شماره پلاک: #{taxi.car_code}
                        h5 وضعیت: #{taxi.is_online}
                        h5 آزادی: #{taxi.status}

                        a(href="/station/taxi/edit/#{taxi._id}")
                            input(class="btn btn-primary" value="ویرایش اطلاعات")


        div(class="col-md-6")
            div(class='row')
                div(class="col-md-12")
                    div(class="row")
                        - if(taxi.state == "busy")
                            div(class="col-md-6")
                                div(class="box box-success")
                                    div(class="box-header with-border")
                                        h5 آزاد کردن تاکسی
                                        h5 دقت کنید که تاکسی در حال انجام سفر نباشد و به اشتباه در حالت مشغول است

                                    form(role="form")

                                    div(class='box-body')

                                        form(action="/station/taxi/setfree/", method="post")

                                            input(
                                            class='input-field'
                                            type='hidden'
                                            required='required'
                                            value='#{taxi._id}'
                                            placeholder='آیدی تاکسی'
                                            name='taxi_id'
                                            readonly='readonly'
                                            )
                                            br
                                            input(
                                            class='btn btn-success'
                                            type='submit'
                                            value='آزاد کردن تاکسی'
                                            )
                        div(class="col-md-6")
                            div(class="box box-success")
                                div(class="box-header with-border")
                                    h4 وضعیت بلاک بودن
                                    - if(taxi.is_block == false)
                                        h5 وضعیت &nbsp;
                                            span(class="label label-success")  فعال است

                                    - if(taxi.is_block == true)
                                        h5 وضعیت &nbsp;
                                            span(class="label label-danger")  بلاک شده است


                                form(role="form")

                                div(class='box-body')

                                    - if(taxi.is_block == false)

                                        a(href='/station/taxi/block/#{taxi._id}')
                                            input(class="btn btn-sm btn-danger" value="بلاک کردن تاکسی")

                                    - if(taxi.is_block == true)

                                        a(href='/station/taxi/unblock/#{taxi._id}')
                                            input(class="btn btn-sm btn-primary" value="آزاد سازی تاکسی")


    div(class="row")
        div(class="col-md-12")
            div(class="box box-danger")
                div(class="box-header with-border")
                    h4 سفرهای تاکسی

                form(role="form")

                div(class='box-body')
                    div
                        table(class='table table-table-responsive content_table highlight')
                            tr
                                th شماره سفر
                                th وضعیت سفر
                                th فعالی
                                th نوع پرداخت
                                th هزینه سفر
                                th مدیریت سفر
                            each item in travels
                                tr
                                    td #{item.travel_code}
                                    td
                                        - if(item.state == 'customer_canceled')
                                            مسافر کنسل کرده
                                        - if(item.state == 'support_canceled')
                                            پشتیبانی کنسل کرده
                                        - if(item.state == 'taxi_refused')
                                            تاکسی رد کرده
                                        - if(item.state == 'taxi_confirmed')
                                            تایید تاکسی (در راه رسیدن)
                                        - if(item.state == 'travel_started')
                                            سفر شروع شده
                                        - if(item.state == 'searching')
                                            داره میسرچه
                                        - if(item.state == 'taxi_founded')
                                            داره از تاکسی میپرسه
                                        - if(item.state == 'finished')
                                            سفر تمام شده
                                        - if(item.state == 'finish_commented')
                                            سفر تمام شده و نظر داده شده
                                        - if(item.state == 'taxi_not_found')
                                            تاکسی یافت نشده
                                        - if(item.state == 'taxi_canceled')
                                            تاکسی کنسل کرده
                                        - if(item.state == 'put_off_searching')
                                            در حال جستجو(پس از انصراف تاکسی)
                                        - if(item.state == 'none')
                                            اولیه


                                        td
                                            - if(item.is_active == 1)

                                                span(class="label label-success")  فعال
                                            - if(item.is_active == 0)

                                                span(class="label label-default") غیر فعال
                                        td
                                            - if(item.payment_type == "cash")
                                                span(class="label label-primary") نقدی
                                            - if(item.payment_type == "wallet")
                                                span(class="label label-primary") اعتباری
                                        td #{item.cost} تومان
                                        td
                                            a(href='/station/travel/#{item._id}')

                                                i(class="fa fa-wrench fa-2x")


                                        //- if(is_pagination == true)
                                        //    div(class='row pagination_part')
                                        //        div(class='col s7')
                                        //            - if(travels.length >= 10)
                                        //                a(href='#{path}#{next_page}/10/')
                                        //                    img(src="/public/icons/next.png", class="pagination_icon")
                                        //        div(class='col s5' style='direction: ltr')
                                        //            - if(prev_page > 0)
                                        //                a(href='#{path}#{prev_page}/10/')
                                        //                    img(src="/public/icons/prev.png", class="pagination_icon")

                        div(class='row pagination_part')
                            ul(class="pagination")
                                - if(travels.length >= 10)


                                    - if(prev_page > 0)
                                        li
                                            a(href="#{path}#{prev_page}/10/")
                                                span(aria-hidden="true") &laquo;
                                    - else
                                        li(class="disabled")
                                            a(href="#{path}#{prev_page}/10/")
                                                span(aria-hidden="true") &laquo;

                                    li(class="active")
                                        a(href="#" aria-label="Previous")
                                            span #{next_page - 1}

                                    li
                                        a(href="#{path}#{next_page}/10/" aria-label="Previous")
                                            span(aria-hidden="true") &raquo;


                                - else

                                    - if(prev_page > 0)
                                        li
                                            a(href="#{path}#{prev_page}/10/")
                                                span(aria-hidden="true") &laquo;

                                    - else
                                        li(class="disabled")
                                            a(href="#{path}#{prev_page}/10/")
                                                span(aria-hidden="true") &laquo;

                                    li(class="active")
                                        a(href="#" aria-label="Previous")
                                            span #{next_page - 1}

                                    li(class="disabled")
                                        a(href="#{path}#{next_page}/10/")
                                            span(aria-hidden="true") &raquo;

    div(class="row")
        div(class="col-md-12")
            div(class="box box-success")
                div(class="box-header with-border")
                    h4 نظرات مسافرین

                form(role="form")

                div(class='box-body')
                    div(class='form-container')
                        table(class='table table-table-responsive content_table highlight')
                            tr
                                th متن نظر
                                th ستاره
                                th تاریخ
                                th زمان
                                th حذف
                            each comment in comments
                                tr
                                    td
                                        each comment_text in comment.comments_text
                                            p #{comment_text.text}
                                    td #{comment.star}
                                    td #{comment.date}
                                    td #{comment.time}
                                    td
                                        a(href="/panel/comment/remove/#{comment._id}/")
                                            img(src="/public/icons/minus.png", class="list_icon")

//div(class='form-container')
    //
    //    table(class='table table-bordered table-table-responsive content_table')
    //        tr
    //            th کد تاکسی
    //            th نام کاربری
    //            th نام راننده
    //            th مدل و رنگ تاکسی
    //            th شماره تلفن راننده
    //            th شماره پلاک
    //            th وضعیت
    //            th آزادی
    //            th ویرایش
    //            th مشاهده روی نقشه
    //            th لیست سفرها
    //        tr
    //            td #{taxi.taxi_code}
    //            td #{taxi.username}
    //            td #{taxi.driver_name}
    //            td #{taxi.model} #{taxi.color}
    //            td #{taxi.driver_phone_number}
    //            td #{taxi.car_code}
    //            td
    //                - if(taxi.is_online == 0)
    //                    h5 آفلاین
    //                - if(taxi.is_online == 1)
    //                    h5 آنلاین
    //            td
    //                - if(taxi.is_free == 0)
    //                    h5 آزاد
    //                - if(taxi.is_free == 1)
    //                    h5 مشغول
    //            td
    //                a(href='/panel/taxi/edit/#{taxi._id}')
    //                    input(type='button', class='btn btn-sm btn-primary', value='ویرایش')
    //            td
    //                a(href='/panel/taxi/map/#{taxi._id}')
    //                    input(type='button', class='btn btn-sm btn-primary', value='نقشه')
    //            td
    //                a(href='/panel/taxi/travels/#{taxi._id}/1/10/')
    //                    input(type='button', class='btn btn-sm btn-primary', value='لیست سفرها')
    //
    //            td
    //                - if(taxi.is_block == false)
    //                    فعال
    //                    a(href='/panel/taxi/block/#{taxi._id}')
    //                        input(type='button', class='btn btn-sm btn-danger', value='بلاک کردن')
    //                - if(taxi.is_block == true)
    //                    بلاک شده
    //                    a(href='/panel/taxi/unblock/#{taxi._id}')
    //                        input(type='button', class='btn btn-sm btn-success', value='خارج کردن از بلاک')
    //    br
    //    br
    //    input(id="taxi-map-show-btn", value='نمایش روی نقشه', taxi_id="#{taxi._id}", class="btn btn-success", type="button")

    div(class='container row taxi-map', id='taxi-map')

                                