extends layout
block content
    div(class="row")
        div(class="col-md-6")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 جستجو

                form(role="form")

                div(class='box-body')
                    div(class='form-container form-inline')
                        form(action="/panel/taxi/search/", method="post", class="form-inline")
                            input(class='form-control search-input' name='search_query' placeholder='چیزی برای سرچ وارد کن')
                            input(type='submit' class='btn btn-primary search-btn' value='جستجو')

                        //input(value="مشاهده‌ همه روی نقشه", type="button", class="btn btn-primary taxis-on-map-btn", id="taxis-map-show-btn")

        div(class="col-md-6")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 عملیات نقشه

                form(role="form")

                div(class='box-body')

                    input(value="مشاهده‌ همه روی نقشه", type="button", class="btn btn-primary taxis-on-map-btn", id="station-taxis-map-show-btn")

    div(class="row")
        div(class="col-md-12")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 لیست راننده‌ها

                form(role="form")

                    div(class='box-body')
                        div(class='form-container')
                            table(class='table table-table-responsive content_table highlight')
                                tr
                                    th کد
                                    th آواتار
                                    th نام کاربری
                                    th نام راننده
                                    th ماشین
                                    th تلفن
                                    th شماره پلاک
                                    th آنلاینی
                                    th آزادی
                                    th بیشتر
                                    //th سفرها
                                    //th نظرات
                                    //th بلاکی
                                each item in taxis
                                    tr
                                        td #{item.taxi_code}
                                        td
                                            - if(item.driver_avatar == "" || typeof(item.driver_avatar) === 'undefined')
                                                img(class="driver_avatar", src="/public/icons/logo.png")
                                            - else
                                                img(class="driver_avatar", src="/#{item.driver_avatar}")
                                        td #{item.username}
                                        td #{item.driver_name}
                                        td #{item.model}
                                        td #{item.driver_phone_number}
                                        td
                                            div(class="car_plate_code")
                                                span(class="car_plate_text_base")
                                                    b #{item.car_code_base}
                                                span(class="car_plate_text")
                                                    b #{item.car_code}

                                        td
                                            - if(item.is_online == 0)
                                                //img(src="/public/icons/offline.png", class="list_icon")
                                                span(class="label label-default") آفلاین
                                            - if(item.is_online == 1)
                                                //img(src="/public/icons/online.png", class="list_icon")
                                                span(class="label label-success") آنلاین
                                        td
                                            - if(item.state == "free")
                                                span(class="label label-primary") آزاد
                                            - if(item.state == "busy")
                                                span(class="label label-danger") مشغول
                                                //img(src="/public/icons/busy.png", class="list_icon")


                                        td
                                            a(href='/station/taxi/info/#{item._id}/1/10/')
                                                //img(src="/public/icons/edit.png", class="list_icon")
                                                i(class="fa fa-edit fa-2x")

                                        //td
                                        //   a(href='/panel/taxi/travels/#{item._id}/1/10/')
                                        //      //img(src="/public/icons/list.png", class="list_icon")
                                        //      i(class="fa fa-list fa-2x")
                                        //
                                        //td
                                        //   a(href='/panel/taxi/comments/#{item._id}/1/10/')
                                        //      //img(src="/public/icons/list.png", class="list_icon")
                                        //      i(class="fa fa-list fa-2x")
                                        //
                                        //td
                                        //   - if(item.is_block == false)
                                        //      a(href='/panel/taxi/block/#{item._id}')
                                        //         img(src="/public/icons/block.png", class="list_icon")
                                        //
                                        //   - if(item.is_block == true)
                                        //      a(href='/panel/taxi/unblock/#{item._id}')
                                        //         img(src="/public/icons/ok.png", class="list_icon")

                            div(class='row pagination_part')
                                ul(class="pagination")
                                    - if(taxis.length >= 10)


                                        - if(prev_page > 0)
                                            li
                                                a(href="/station/taxi/list/#{prev_page}/10/")
                                                    span(aria-hidden="true") &laquo;
                                        - else
                                            li(class="disabled")
                                                a(href="/station/taxi/list/#{prev_page}/10/")
                                                    span(aria-hidden="true") &laquo;

                                        li(class="active")
                                            a(href="#" aria-label="Previous")
                                                span #{next_page - 1}

                                        li
                                            a(href="/station/taxi/list/#{next_page}/10/" aria-label="Previous")
                                                span(aria-hidden="true") &raquo;


                                    - else

                                        - if(prev_page > 0)
                                            li
                                                a(href="/station/taxi/list/#{prev_page}/10/")
                                                    span(aria-hidden="true") &laquo;

                                        - else
                                            li(class="disabled")
                                                a(href="/station/taxi/list/#{prev_page}/10/")
                                                    span(aria-hidden="true") &laquo;

                                        li(class="active")
                                            a(href="#" aria-label="Previous")
                                                span #{next_page - 1}

                                        li(class="disabled")
                                            a(href="/station/taxi/list/#{next_page}/10/")
                                                span(aria-hidden="true") &raquo;

                            div(class='container row travel-map', id='taxis-map')