extends layout

block content

    div(class="row")
        div(class="col-md-6")

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 فیلتر سفرها به صورت تاریخ

                form(role="form")

                div(class='box-body')
                    form(action="/station/travel/datelist/", method="post")
                        input(
                        class="form-control start_date",
                        name="start_date",
                        id="start_date",
                        type="text",
                        placeholder="yyyy/mm/dd"
                        )
                        br
                        input(
                        class="form-control finish_date",
                        type="text",
                        id="finish_date",
                        name="finish_date",
                        placeholder="yyyy/mm/dd"
                        )
                        br
                        input(
                        class="btn btn-primary",
                        type="submit",
                        value="فیلتر بر اساس تاریخ"
                        )
        div(class="col-md-6")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 فیلتر اساس نوع

                form(role="form")

                div(class='box-body')
                    div(class='form-inline')
                          form(action="/station/travel/list/filter/", method="post", class="form-inline")
                              select(class="form-control", name="travel_state")
                                option(value="none") اولیه
                                option(value="finished") تمام شده
                                option(value="taxi_not_found") تاکسی یافت نشده
                                option(value="customer_confirmed") تایید مشتری
                                option(value="support_confirmed") تایید پشتیبانی
                                option(value="taxi_confirmed") تایید تاکسی
                                option(value="taxi_canceled") کنسل شده توسط تاکسی
                                option(value="support_canceled") کنسل شده توسط پشتیبانی
                                option(value="customer_canceled") کنسل شده توسط مشتری
                              input(
                              type="hidden",
                              value="#{user.station_id}"
                              name="station_id"
                              )
                              input(type="submit", class="btn btn-danger filter_btn", value="فیلتر")



    div(class="row")
        div(class="col-md-12")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 لیست آخرین سفرها

                form(role="form")

                div(class='box-body')
                    table(class='table table-table-responsive content_table highlight')
                     tr
                        th شماره سفر
                        td تاریخ
                        td ساعت
                        th وضعیت سفر
                        th فعالی
                        th نوع پرداخت
                        th هزینه سفر
                        th مدیریت سفر
                     each item in travels
                        tr
                           td #{item.travel_code}
                           td #{item.date}
                           td #{item.time}
                           td
                                - if(item.state == 'customer_canceled')
                                    مسافر کنسل کرده
                                - if(item.state == 'support_canceled')
                                    پشتیبانی کنسل کرده
                                - if(item.state == 'taxi_refused')
                                    تاکسی رد کرده
                                - if(item.state == 'taxi_confirmed')
                                    تایید تاکسی (در راه رسیدن)
                                - if(item.state == 'travel_started')
                                    سفر شروع شده
                                - if(item.state == 'searching')
                                    داره میسرچه
                                - if(item.state == 'taxi_founded')
                                    داره از تاکسی میپرسه
                                - if(item.state == 'finished')
                                        سفر تمام شده
                                - if(item.state == 'finish_commented')
                                    سفر تمام شده و نظر داده شده
                                - if(item.state == 'taxi_not_found')
                                    تاکسی یافت نشده
                                - if(item.state == 'taxi_canceled')
                                    تاکسی کنسل کرده
                                - if(item.state == 'put_off_searching')
                                    در حال جستجو(پس از انصراف تاکسی)
                                - if(item.state == 'none')
                                        اولیه


                           td
                              - if(item.is_active == 1)

                                    span(class="label label-success")  فعال
                              - if(item.is_active == 0)

                                    span(class="label label-default") غیر فعال
                           td
                                - if(item.payment_type == "cash")
                                    span(class="label label-primary") نقدی
                                - if(item.payment_type == "wallet")
                                    span(class="label label-primary") اعتباری
                           td #{item.cost} تومان
                           td
                             a(href='/station/travel/#{item._id}')

                                i(class="fa fa-wrench fa-2x")

                    div(class='row pagination_part')
                        ul(class="pagination")
                            - if(travels.length >= 10)


                                - if(prev_page > 0)
                                    li
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;
                                - else
                                    li(class="disabled")
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li
                                    a(href="#{path}#{next_page}/10/" aria-label="Previous")
                                        span(aria-hidden="true") &raquo;


                            - else

                                - if(prev_page > 0)
                                    li
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                - else
                                    li(class="disabled")
                                        a(href="#{path}#{prev_page}/10/")
                                            span(aria-hidden="true") &laquo;

                                li(class="active")
                                    a(href="#" aria-label="Previous")
                                        span #{next_page - 1}

                                li(class="disabled")
                                    a(href="#{path}#{next_page}/10/")
                                        span(aria-hidden="true") &raquo;

                    //- if(is_pagination == true)
                    //    div(class='row pagination_part')
                    //        div(class='col s7')
                    //            - if(travels.length >= 10)
                    //                a(href='#{path}#{next_page}/10/')
                    //                    img(src="/public/icons/next.png", class="pagination_icon")
                    //        div(class='col s5' style='direction: ltr')
                    //            - if(prev_page > 0)
                    //                a(href='#{path}#{prev_page}/10/')
                    //                    img(src="/public/icons/prev.png", class="pagination_icon")

