extends layout

block content

    div(class='row')

        div(class='col-sm-12 col-md-4 travel-info',id='travel-page-travel-info', travel_id="#{travel_data.travel._id}", taxi_id="#{travel_data.taxi._id}")
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 تغییر هزینه‌ی سفر

                form(role="form")

                div(class='box-body')

                    div(class='form-container form-inline')

                        form(action="/station/travel/cost/set/", method="post", enctype="multipart/form-data")

                            - if(travel_data.travel.is_active == 1)
                                input(
                                class="form-control right-margin"
                                name="travel_cost"
                                required='required'
                                value='#{travel_data.travel.cost}'
                                )
                            - if(travel_data.travel.is_active == 0)

                                input(
                                class="form-control right-margin"
                                name="travel_cost"
                                readonly="readonly"
                                required='required'
                                value='#{travel_data.travel.cost}'
                                )
                            input(
                            class="form-control right-margin"
                            name="travel_id"
                            required='required'
                            value='#{travel_data.travel._id}'
                            readonly='readonly'
                            type="hidden"
                            )
                            br
                            br

                            - if(travel_data.travel.is_active == 1)
                                input(
                                class='btn btn-success right-margin'
                                type='submit'
                                value='تغییر هزینه‌ی سفر'
                                )
                            - if(travel_data.travel.is_active == 0)

                                input(
                                class='btn btn-success right-margin'
                                type='submit'
                                disabled='disabled'
                                value='تغییر هزینه‌ی سفر'
                                )

            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 اطلاعات سفر
                form(role="form")

                div(class='box-body')

                    dl
                        dt  تاریخ سفر
                        dd
                            span(class="label label-success") #{travel_data.travel.date}

                        dt  آدرس مبدا
                            dd
                                span(class="label label-primary") #{travel_data.travel.source_place}

                        dt  آدرس مقصد
                            dd
                                span(class="label label-danger") #{travel_data.travel.destination_place}
                        dt  هزینه سفر
                        dd
                            span(class="label label-success") #{travel_data.travel.cost} &nbsp; تومان

                        dt  وضعیت پرداخت

                            - if(travel_data.travel.is_paid == true)
                                dd
                                    span(class="label label-success") پرداخت شده
                            - if(travel_data.travel.is_paid == false)
                                dd
                                    span(class="label label-default") پرداخت نشده

                        dt  وضعیت فعال بودن سفر

                            - if(travel_data.travel.is_active == true)
                                dd
                                    span(class="label label-success") فعال
                            - if(travel_data.travel.is_active == false)
                                dd
                                    span(class="label label-default") غیر فعال

                        dt  وضعیت سفر
                        dd
                            - if(travel_data.travel.state == 'customer_canceled')
                                span(class="label label-success") مسافر کنسل کرده
                            - if(travel_data.travel.state == 'support_canceled')
                                span(class="label label-success") پشتیبانی کنسل کرده
                            - if(travel_data.travel.state == 'taxi_refused')
                                span(class="label label-success")تاکسی رد کرده
                            - if(travel_data.travel.state == 'taxi_confirmed')
                                span(class="label label-success") تایید تاکسی (در راه رسیدن)
                            - if(travel_data.travel.state == 'travel_started')
                                span(class="label label-success") سفر شروع شده
                            - if(travel_data.travel.state == 'searching')
                                span(class="label label-success") داره میسرچه
                            - if(travel_data.travel.state == 'taxi_founded')
                                span(class="label label-success") داره از تاکسی میپرسه
                            - if(travel_data.travel.state == 'finished')
                                span(class="label label-success") سفر تمام شده
                            - if(travel_data.travel.state == 'finish_commented')
                                span(class="label label-success") سفر تمام شده و نظر داده شده
                            - if(travel_data.travel.state == 'taxi_not_found')
                                span(class="label label-success") تاکسی یافت نشده
                            - if(travel_data.travel.state == 'taxi_canceled')
                                span(class="label label-success") تاکسی کنسل کرده
                            - if(travel_data.travel.state == 'put_off_searching')
                                span(class="label label-success") در حال جستجو(پس از انصراف تاکسی)
                            - if(travel_data.travel.state == 'none')
                                اولیه
                        dt  کد تخفیف
                        dd
                            div(class="callout callout-info")
                                - if(travel_data.travel.discount_code == "")
                                    کد تخفیف نداشته است
                                - if(travel_data.travel.discount_code !== "")
                                    h4 کد تخفیف:&nbsp; #{travel_data.travel.discount_code}

                                    p میزان تخفیف اعمال شده:&nbsp; #{travel_data.travel.discount_amount} تومان

                                    p مبلغ پرداختی توسط مسافر:&nbsp; #{travel_data.travel.cost - travel_data.travel.discount_amount} تومان
                        //dt  تاریخ سفر
                        //dd #{travel_data.travel.date}
                        //dt  تاریخ سفر
                        //dd #{travel_data.travel.date}
                        //dt  تاریخ سفر
                        //dd #{travel_data.travel.date}
                        //dt  تاریخ سفر
                        //dd #{travel_data.travel.date}
                        ////<dt>Euismod</dt>
                        ////<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                        ////<dd>Donec id elit non mi porta gravida at eget metus.</dd>
                        ////<dt>Malesuada porta</dt>
                        ////<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                        ////<dt>Felis euismod semper eget lacinia</dt>
                        ////<dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                        ////</dl>
                        //
                        //div(class='travel_page_list_group')
                        //
                        //    تاریخ سفر: #{travel_data.travel.date}
                        //
                        //    br
                        //    br
                        //    هزینه سفر: #{travel_data.travel.cost}
                        //
                        //    br
                        //    br
                        //    - if(travel_data.travel.is_paid == true)
                        //        وضعیت پرداخت: پرداخت شده
                        //    - if(travel_data.travel.is_paid == false)
                        //        وضعیت پرداخت: پرداخت نشده
                        //    br
                        //    br
                        //    - if(travel_data.travel.payment_type == "wallet")
                        //        نوع پرداخت: پرداخت با اعتبار
                        //    - if(travel_data.travel.payment_type == "cash")
                        //        نوع پرداخت: پرداخت نقدی
                        //    br
                        //    br
                        //
                        //    وضعیت اکتیو بودن:
                        //
                        //    - if(travel_data.travel.is_active == 1)
                        //         فعال
                        //    - if(travel_data.travel.is_active == 0)
                        //         غیر فعال
                        //    br
                        //    br
                        //
                        //    کد تخفیف:
                        //
                        //    - if(travel_data.travel.discount_code == "")
                        //        کد تخفیف نداشته است
                        //    - if(travel_data.travel.discount_code !== "")
                        //        کد تخفیف:#{travel_data.travel.discount_code}
                        //        br
                        //        br
                        //        میزان تخفیف اعمال شده: #{travel_data.travel.discount_amount} تومان
                        //        br
                        //        br
                        //        مبلغ پرداختی توسط مسافر:  #{travel_data.travel.discount_amount} تومان
                        //    br
                        //    br
                        //
                        //    وضعیت سفر:
                        //
                        //    - if(travel_data.travel.state == 'customer_canceled')
                        //        مسافر کنسل کرده
                        //    - if(travel_data.travel.state == 'support_canceled')
                        //        پشتیبانی کنسل کرده
                        //    - if(travel_data.travel.state == 'taxi_refused')
                        //        تاکسی رد کرده
                        //    - if(travel_data.travel.state == 'taxi_confirmed')
                        //        تایید تاکسی (در راه رسیدن)
                        //    - if(travel_data.travel.state == 'travel_started')
                        //        سفر شروع شده
                        //    - if(travel_data.travel.state == 'searching')
                        //        داره میسرچه
                        //    - if(travel_data.travel.state == 'taxi_founded')
                        //        داره از تاکسی میپرسه
                        //    - if(travel_data.travel.state == 'finished')
                        //        سفر تمام شده
                        //    - if(travel_data.travel.state == 'finish_commented')
                        //        سفر تمام شده و نظر داده شده
                        //    - if(travel_data.travel.state == 'taxi_not_found')
                        //        تاکسی یافت نشده
                        //    - if(travel_data.travel.state == 'taxi_canceled')
                        //        تاکسی کنسل کرده
                        //    - if(travel_data.travel.state == 'put_off_searching')
                        //        در حال جستجو(پس از انصراف تاکسی)
                        //    - if(travel_data.travel.state == 'none')
                        //        اولیه

        - if(travel_data.taxi !== false)
            div(class='col-sm-12 col-md-4 travel-taxi-info')
                div(class="box box-primary")
                    div(class="box-header with-border")
                        h4 اطلاعات راننده

                    form(role="form")

                    div(class='box-body')
                        div(class="card-content")
                            div(class='travel_page_list_group')
                            img(src="/#{travel_data.taxi.driver_avatar}", class="driver_avatar")
                            br
                            br
                            کد تاکسی:  #{travel_data.taxi.taxi_code}
                            br
                            br
                            نام کاربری:  #{travel_data.taxi.username}

                            br
                            br
                            نام و نام خانوادگی:  #{travel_data.taxi.driver_name}
                            br
                            br
                            شماره تماس:  #{travel_data.taxi.driver_phone_number}
                            br
                            br
                            مدل و رنگ ماشین:  #{travel_data.taxi.model} #{travel_data.taxi.color}
                            br
                            br
                            سال تولید:  #{travel_data.taxi.year}
                            br
                            br
                            - if(travel_data.taxi.is_online == true)
                                تاکسی آنلاین است
                            - if(travel_data.taxi.is_online == false)
                                تاکسی آفلاین است
                            br
                            br
                            - if(travel_data.taxi.state == "free")
                                تاکسی آزاد است
                            - if(travel_data.taxi.state == "busy")
                                تاکسی مشغول سفر است
                            - if(travel_data.taxi.state == "stand_by")
                                تاکسی در حال جواب دادن به سفر است

        div(class='col-sm-12 col-md-4 travel-customer-info')
            div(class="box box-primary")
                div(class="box-header with-border")
                    h4 اطلاعات مسافر

                form(role="form")

                div(class='box-body')
                    div(class='travel_page_list_group')
                    br
                    نام: #{travel_data.customer.name}
                    br
                    شماره تماس: #{travel_data.customer.phone_number}
                    br
                    آدرس: #{travel_data.customer.address}
                    br
                    ایمیل: #{travel_data.customer.email}

            div(class="row")
                - if(travel_data.comment.length > 0)
                    div(class="card-panel")
                        h5 نظر مسافر
                        p ستاره:  #{travel_data.comment.star}
                        p تاریخ:  #{travel_data.comment.date}
                        p زمان: #{travel_data.comment.time}
                        div(class='card-panel')
                            each comment_text in travel_data.comment.comments_text
                                p #{comment_text.text}
            div(class='row')
                - if(travel_data.travel.state == 'customer_confirmed')
                    input(class='btn btn-sm btn-danger support_confirm_btn',type='button', value='تایید سفر')
                    br
                    br
                - if(travel_data.travel.is_active)
                    input(class='btn btn-sm btn-danger support_cancel_btn',type='button', value='لغو سفر')
                    br
                    br
                - if(travel_data.travel.is_active && travel_data.travel.state !== 'customer_confirmed')
                    input(class='btn btn-sm btn-danger support_finish_btn',type='button', value='پایان سفر')
                    br
                    br
                input(id="travel-map-show-btn", value='نمایش روی نقشه', travel_id="#{travel_data.travel._id}", class="btn btn-success", type="button")
                br
                br
                input(class='btn btn-danger support_taxi_track_btn',type='button', taxi_id='#{travel_data.taxi._id}', value='ردیابی تاکسی')

        div(class='row travel-map', id='map')


